:host:not(.size-big-link) {
  height: calc(100vh - 62px);
  overflow: auto;
  // overflow: hidden;
}

:host(.size-small-link) {
  height: calc(100vh - 62px);
  margin-left: 10px;
  border-radius: 0.3rem 0.3rem 0 0;
  width: 280px;
  position: fixed;
}

:host(.size-small) {
  height: calc(100vh - 62px);
  margin-left: 10px;
  border-radius: 0.3rem 0.3rem 0 0;
  width: 320px;
  min-width: 320px;
}

:host(.size-medium-right) {
  height: calc(100vh - 62px);
  flex: 0 34.4%;
  margin-right: 10px;
  min-width: 300px;
}

:host(.size-medium) {
  height: calc(100vh - 62px);
  // flex: 0 40.4%;
  //flex: 17.5%;
  flex: 4%;
  margin-left: 10px;
  min-width: 450px;
}

:host(.size-dashoard) {
  height: calc(100vh - 62px);
  margin-left: 10px;
  width: 25rem;
  min-width: 25rem;
}

:host(.size-big) {
  flex: auto;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 500px;
}

:host(.size-big-link) {
  flex: auto;
  margin-right: 10px;
  min-width: 500px;
  margin-left: 300px;
}
