@import "../../../theme/styles/colors";

$border-hover-blue: $blue;

.mat-button {
  font-family: Manrope, sans-serif !important;
}

button {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 15px;
  min-width: 10px;
  line-height: normal;
  font-family: Manrope, sans-serif !important;

  &:disabled {
    color: $silver;
    background-color: #d9d9d9;
    border-color: $snow;
  }

  &:hover:not(:disabled) {
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.08), 0 3px 9px 0 rgba(0, 0, 0, 0.16);
  }

  &:hover:disabled {
    cursor: default;
  }

  &:focus:not(.myBorder) {
    outline: none;
    border: 2px solid $fokus-button-border;
  }
}

.semiRound {
  border-radius: 7px;
}

.round {
  border-radius: 24px;
  padding: 0;
}

.size-big {
  height: 37px;

  &.round {
    width: 37px;
  }
}

.size-medium {
  height: 32px;
  font-size: 12px;
  &.round {
    width: 32px;
  }
}

.size-small {
  height: 32px;
  font-size: 12px;
  &.round {
    width: 32px;
  }
}

.size-xsmall {
  height: 32px;

  &.round {
    width: 32px;
  }
}

.color-white {
  color: #fff;
}

.color-blue {
  color: $blue;
}

.color-gray {
  color: $cadet-grey;
}

.transparent {
  background-color: transparent;
  border: 2px solid transparent;
}

.transparent:hover:not(:focus:disabled.myBorder) {
  border: 2px solid #969faa;
}

.white {
  background-color: #fff;
  border: 2px solid #fff;
}

.white:hover:not(:focus:disabled.myBorder) {
  border: 2px solid #f5f5f5;
}

.blue {
  background-color: $blue;
  border: 2px solid $blue;
}

.blue:hover:not(:focus:disabled.myBorder) {
  border: 2px solid $blue;
}

.light-blue {
  background-color: $light_blue;
  border: 2px solid $light_blue;
}

.light-blue:hover:not(:focus:disabled.myBorder) {
  border: 2px solid $light_blue;
}

.gray {
  background-color: $cadet-grey;
  border: 2px solid $cadet-grey;
}

.gray:hover:not(:focus:disabled.myBorder.hover-blue) {
  border: 2px solid #969faa;
}

.myBorder {
  border: 1px solid $gainsboro;
}

.myBorder:focus {
  outline: none;
  border: 1px solid $fokus-button-border;
}

.hover-gray:hover:not(:disabled) {
  color: #fff;
  background-color: $light_gray;
  border: 2px solid $light_gray;

  &.myBorder {
    border: 1px solid $light_gray;
  }
}

.hover-blue:hover:not(:disabled) {
  color: #fff;
  background-color: $blue;
  border: 2px solid $blue;
}
