<app-layout-for-steps
  [isPanelDescHidden]="true"
  [headerText]="titles[InsideInfoGroupKeys.RelatedPersons]"
  [headerNumb]="1"
  [isNotAccordion]="true"
>
  <div class="w-100">
    <mat-app-table
      [tableData]="relatedPersonsColTableData"
      [isSotring]="false"
      [footerIsHide]="true"
    >
    </mat-app-table>
  </div>
</app-layout-for-steps>

<app-layout-for-steps
  [isPanelDescHidden]="true"
  [headerText]="titles[InsideInfoGroupKeys.InternalLoanHistory]"
  [headerNumb]="2"
  [isNotAccordion]="true"
>
  <ng-container *ngFor="let data of arrayInternalLoanHistoryColTableData; let i = index">
    <div class="wrapper">
      <span></span>
      <app-layout-for-steps-col
        [subHeaderNumb]="i+1"
      >
        <div class="w-100">
          <mat-app-table
            [tableData]="data"
            [isSotring]="false"
            [footerIsHide]="true"
          >
          </mat-app-table>
        </div>
        <div class="w-100">
          <mat-app-table
            [tableData]="arrayOverduePaymentInfoColTableData[i]"
            [isSotring]="false"
            [footerIsHide]="true"
          >
          </mat-app-table>
        </div>
      </app-layout-for-steps-col>
    </div>
  </ng-container>
</app-layout-for-steps>
