@import "../../../theme/styles/colors";

::ng-deep {
  .mat-expansion-panel {
    box-shadow: none !important;

    .mat-expansion-panel-content {
      .mat-expansion-panel-body {
        padding: 10px 31px 16px;

        .col:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

mat-expansion-panel-header {
  padding: 3px 0 3px 0;
  border-radius: 0;
  background-color: $extra_light_blue;
}

mat-panel-description {
  display: flex;
  justify-content: flex-end;
}

.circle {
  display: flex;
  justify-content: flex-end;
  height: 22px;
  width: 70px;
  margin-right: 10px;
  padding-right: 10px;
  //padding-top: 2px;
  border: 2px solid $blue;
  border-radius: 0 5px 5px 0;
  background-color: $blue;
  color: $snow;
  font-weight: 600;
  font-size: 12px;
  font-family: Manrope, sans-serif !important;
}

.header-info {
  display: flex;
}

.text {
  font-size: 14px;
  font-weight: 600;
  color: $bank-gray;
  font-family: Manrope, sans-serif !important;
}

.clear-button {
  position: relative;
  padding-top: 10px;
  font-size: 12px;
  color: $outer-space-triple;
  font-weight: 600;
  cursor: pointer;
  font-family: Manrope, sans-serif !important;

  span:first-child {
    position: absolute;
    top: 8px;
    left: -15px;
  }
}

.toggle-btn {
  border: none;
  background-color: transparent;
  color: $outer-space-triple;
  font-weight: 600;
  font-size: 12px;
  font-family: Manrope, sans-serif !important;

  &:focus {
    outline: none;
  }

  span:first-child {
    margin-right: 10px;
  }
}

//.flex-content {
//  display: flex;
//}

::ng-deep .arr-rotate svg {
  transform: rotate(180deg);
}

.display-none {
  display: none;
}
