<div class="close-btn-wrapper">
  <mat-app-button
    [mat-dialog-close]="''"
    [radius]="'round'"
    [className]="'custom-style-close-modal'"
    [backgroundColor]="'white'"
    [color]="'gray'"
    [hover]="'gray'"
    [border]="true"
  >
    <div type="" class="close-modal" [inlineSVG]="'./assets/img/close-1.svg'"></div>
  </mat-app-button>
</div>
<form class="add-selected-condition-modal-container" [formGroup]="form">
  <div class="add-selected-condition-modal-header">
    <span class="add-selected-condition-modal-title"> Продукт {{ data?.productType }} </span>
  </div>
  <div class="add-selected-condition-modal-scroll-wrapper scroll-wrapper mt-4">
    <perfect-scrollbar>
      <div class="row m-0" formGroupName="selectedCondition">
        <div class="col">
          <app-form-field placeholder="Сумма" type="number" formControlName="sum"> </app-form-field>
        </div>
        <div class="col">
          <app-form-field placeholder="Срок, мес" type="number" formControlName="period"> </app-form-field>
        </div>
      </div>
      <div class="row m-0 justify-content-center">
        <div class="w-50">
          <mat-app-search-select
            placeholder="Счет"
            formControlName="account"
            [options]="accounts"
            class="dropdown-select"
          >
          </mat-app-search-select>
        </div>
      </div>
      <div formGroupName="selectedCondition">
        <ng-container *ngIf="form.get('account').value === 3">
          <div class="row m-0">
            <div class="col">
              <mat-app-search-select
                placeholder="Тип платёжной карты"
                formControlName="dirPaymentCardId"
                [options]="paymentCards"
                class="dropdown-select"
              >
              </mat-app-search-select>
            </div>
            <div class="col">
              <mat-app-search-select
                placeholder="Срочность заказа карты"
                formControlName="urgencyCard"
                [options]="urgency"
                class="dropdown-select"
              >
              </mat-app-search-select>
            </div>
            <div class="col">
              <app-form-field placeholder="Стоимость карты, GEL" type="number" formControlName="costCard">
              </app-form-field>
            </div>
          </div>
          <div class="row m-0">
            <div class="col">
              <app-form-field placeholder="Срок карты, мес" type="number" formControlName="termCard"> </app-form-field>
            </div>
            <div class="col">
              <app-form-field placeholder="Имя на карте" formControlName="nameOnCard"> </app-form-field>
            </div>
            <div class="col">
              <app-form-field placeholder="Кодовое слово" formControlName="codeword"> </app-form-field>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-4">
              <mat-app-search-select
                placeholder="Филиал для получения карты"
                formControlName="dirBranchId"
                [options]="branches"
                class="dropdown-select"
              >
              </mat-app-search-select>
            </div>
          </div>
        </ng-container>
      </div>
    </perfect-scrollbar>
  </div>
  <div class="add-selected-condition-modal-footer footer">
    <div class="buttons-wrapper hard-width-container">
      <div class="send-button-wrapper">
        <mat-app-button
          [backgroundColor]="'blue'"
          [color]="'white'"
          [hover]="'blue'"
          [radius]="'semiRound'"
          type="'submit'"
          (clickEvent)="sendButtonClick()"
          [disabled]="form.invalid"
        >
          <span> Выбрать </span>
        </mat-app-button>
      </div>
    </div>
  </div>
</form>
