<div class="search-select" [ngClass]="selectHeight">
  <mat-form-field #formField class="form-field" [floatLabel]="floatLabel">
    <mat-select
      [formControl]="fc"
      [placeholder]="placeholder | translate"
      [required]="required"
      (openedChange)="openedChangeEvent($event)"
      (focus)="onTouched()"
      #singleSelect
      (selectionChange)="selectionChange($event.value)"
      [disabled]="disabled"
      [multiple]="multiple"
    >
      <mat-option class="option-search">
        <mat-icon svgIcon="search"></mat-icon>
        <ngx-mat-select-search
          noEntriesFoundLabel="{{ 'ErrorMessage.EmptyList' | translate }}"
          [formControl]="optionFilterCtrl"
          class="select-search"
        >
        </ngx-mat-select-search>
      </mat-option>

      <cdk-virtual-scroll-viewport
        appendOnly
        itemSize="33"
        class="scroll-wrap-virtual"
        [style.height]="calculatedHeight"
      >
        <mat-option *ngIf="allowEmptyValue" [value]="emptyValue">
          {{ 'Buttons.Empty' | translate }}
        </mat-option>

        <mat-option *ngIf="noneOptionValue" [value]="noneOptionValue">
          {{ noneOptionValue }}
        </mat-option>

        <mat-option
          *ngIf="multiple && selectAllOption"
          (click)="toggleSelectAll()"
          class="select-all-option"
        >
          {{ 'Buttons.ClearAll' | translate }}
        </mat-option>

        <mat-option
          [disabled]="isAvailableOption(option)"
          *cdkVirtualFor="let option of (filteredOptions | async)"
          [value]="getOptionValue(option)"
        >
          {{ option[tempPropertyName] }}
        </mat-option>
      </cdk-virtual-scroll-viewport>

      <!--DEPRECATED -->
      <!--<perfect-scrollbar  #optionsScrollbar  (psYReachEnd)="psYReachEnd($event)">-->
      <!--<div class="scroll-wrap">-->
      <!--<mat-option *ngIf="allowEmptyValue" [value]="emptyValue">-->
      <!--{{ 'Buttons.Empty' | translate }}-->
      <!--</mat-option>-->

      <!--<mat-option *ngIf="noneOptionValue" [value]="noneOptionValue">-->
      <!--{{ noneOptionValue }}-->
      <!--</mat-option>-->

      <!--<mat-option-->
      <!--[disabled]="isAvailableOption(option)"-->
      <!--*ngFor="let option of (filteredOptions | async); let i = index; trackBy: trackByFn"-->
      <!--[value]="valueType === ValueType.Id ? option.id : option"-->
      <!--&gt;-->
      <!--{{ option[tempPropertyName] }}-->
      <!--</mat-option>-->

      <!--<div *ngIf="loading" class="spinner-box">-->
      <!--<mat-spinner diameter="20"></mat-spinner>-->
      <!--</div>-->
      <!--</div>-->
      <!--</perfect-scrollbar>-->
    </mat-select>
  </mat-form-field>
  <div
    *ngIf="!isGenderLabel"
    class="search-select-label"
    (click)="onOpen()"
    [inlineSVG]="'./assets/img/drop-20.svg'"
  ></div>
  <mat-app-button
    *ngIf="isGenderLabel"
    [className]="'search-select-gender-label'"
    [radius]="'round'"
    [hover]="'blue'"
    [backgroundColor]="'gray'"
    [size]="'medium'"
    [border]="false"
    [type]="'button'"
    (clickEvent)="onOpen()"
  >
    <span [inlineSVG]="changeIcon ? './assets/img/male.svg' : './assets/img/female.svg'" class="icon"></span>
  </mat-app-button>
</div>
