<div class="filter-wrapper"></div>
<div class="flex-block">
  <perfect-scrollbar class="ps-height">
    <div class="table-block">
      <mat-app-table
        [objColNameProps]="objColNameProps"
        [isSotring]="false"
        [tableData]="dataSource"
        [totalCount]="totalCount"
        [itemLimit]="itemLimit"
        [tableBlockWidth]="'3000px'"
        (selectedItem)="selectedItem($event)"
        (selectedPage)="selectedPageEvent($event)"
        (sortingData)="sortingDataEvent($event)"
        [isSelectsItem]="currentUserData.authorities[0].id === 1"
      >
        <div class="button-block" *ngIf="currentUserData.authorities[0].id === 1">
          <mat-app-button
            [className]="'mr-2'"
            [size]="'medium'"
            [border]="true"
            [radius]="'semiRound'"
            [backgroundColor]="'white'"
            [color]="'gray'"
            [hover]="'gray'"
            (clickEvent)="openNewProductDialog()"
          >
            {{ 'Administration.Buttons.AddProduct' | translate }}
          </mat-app-button>
        </div>
      </mat-app-table>
    </div>
  </perfect-scrollbar>
</div>
