@import "../../../../../../theme/styles/common";

.table-content {
  height: 50%;
}

.table-block {
  height: calc(100% - 15px);
  width: 100%;
  .button-block {
    padding: 16px 0 0 20px;
  }
}

.table-title {
  padding: 6px 0 0 39px;
  margin-bottom: 6px;
  font-weight: 500; //600
  font-size: 14px;
  height: 30px;
  color: $bank-gray;
  font-family: "VTB Group Book" !important;
}

:host ::ng-deep .ps-content {
  height: calc(100% - 36px);

  & > .ps {
    height: 100%;
  }
}

:host ::ng-deep .ps-content > .ps > .ps-content {
  height: calc(100% - 1px);
}
