<div class="table-content">
  <p class="table-title">Каналы продаж</p>
  <div class="table-block">
    <mat-app-table
      [objColNameProps]="salesChannelColNameProps"
      [isSorting]="false"
      [tableData]="salesChannelData"
      [totalCount]="totalSalesChannelCount"
      [itemLimit]="itemLimit"
      (selectedItem)="selectedSalesChannelItem($event)"
      (selectedPage)="selectedSalesChannelPageEvent($event)"
      [isSelectsItem]="false"
    >
    </mat-app-table>
  </div>
</div>
<div class="table-content">
  <p class="table-title">Продукты</p>
  <div class="table-block">
    <mat-app-table
      [objColNameProps]="productColNameProps"
      [isSorting]="false"
      [tableData]="productData"
      [totalCount]="totalProductCount"
      [itemLimit]="itemLimit"
      (selectedItem)="selectedProductItem($event)"
      (selectedPage)="selectedProductPageEvent($event)"
      [isSelectsItem]="false"
    >
    </mat-app-table>
  </div>
</div>
