<mat-accordion>
  <mat-expansion-panel [disabled]="true" [expanded]="true" #mep="matExpansionPanel">
    <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
      <mat-panel-title>
        <div class="header-info">
          <div class="circle">
            {{ headerNumb }}
          </div>
          <div class="text">{{ headerText | translate }}</div>
        </div>
      </mat-panel-title>
      <mat-panel-description [ngClass]="{ 'display-none': isPanelDescHidden }">
<!--        <div *ngIf="isNotAccordion; else toggleAccordion" class="clear-button">-->
<!--          <span [inlineSVG]="'./assets/img/clean_row.svg'"></span>-->
<!--          <span>ОЧИСТИТЬ</span>-->
<!--        </div>-->
        <ng-template #toggleAccordion>
          <button class="toggle-btn" (click)="onToggleBtnClick(); mep.expanded = !mep.expanded">
            <span [ngClass]="{ 'arr-rotate': isNeedRotateArr }" [inlineSVG]="'./assets/img/drop-4.svg'"></span>
            <span>{{ toggleBtnName }}</span>
          </button>
        </ng-template>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div [ngClass]="{ 'flex-content': isNotAccordion }">
      <ng-content></ng-content>
    </div>
  </mat-expansion-panel>
</mat-accordion>
