<span class="close-modal"
      *ngIf="showClose"
      type="" [mat-dialog-close]="'close'"
  ><img src="./assets/img/PopupCloseDark.png" alt=""
/></span>

<div class="modal-view-header">
  <h3>{{ title | translate }}</h3>
</div>

<div class="modal-view-body" [class]="showClass">
  <ng-content></ng-content>
</div>

<div class="modal-view-actions">
  <ng-content select="app-modal-view-actions"></ng-content>
</div>

<div class="mat-spinner-background" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
