<div class="filter-wrapper">
  <app-search-field
    class="input-wrapper"
    [placeholder]="'Administration.Placeholders.KeyParameter'"
    (searchEvent)="onSearchEvent($event)"
    (clearEvent)="onClearEvent($event)"
  >
  </app-search-field>

  <mat-app-button
    *ngIf="!!this.isAdmin"
    [className]="'mr-2'"
    [size]="'medium'"
    [border]="true"
    [radius]="'semiRound'"
    [backgroundColor]="'white'"
    [color]="'gray'"
    [hover]="'gray'"
    (clickEvent)="downloadExcel()"
  >
    {{ 'Administration.Buttons.DownloadExcel' | translate }}
  </mat-app-button>
</div>

<div class="table-block">
  <mat-app-table
    [changePage]="changePage"
    [objColNameProps]="objColNameProps"
    [tableData]="dataSource"
    [totalCount]="totalCount"
    [itemLimit]="itemLimit"
    [isSelectsItem]="isAdmin"
    [isEditableItem]="false"
    [isSotring]="false"
    (selectedItem)="onSelectItem($event)"
    (selectedPage)="selectedPageEvent($event)"
    (sortingData)="sortingDataEvent($event)"
  >
  </mat-app-table>
</div>
