<div class="filter-wrapper">
  <mat-app-button
    class="save-button mr-3"
    [radius]="'semiRound'"
    [backgroundColor]="'blue'"
    [color]="'white'"
    (click)="newRequest()"
    [disabled]="isBtnNewClientRequestDisable"
  >
    {{ btnName }}
  </mat-app-button>

  <app-search-field
    class="input-wrapper"
    [placeholder]="'PIN  |  ФИО'"
    [searchValue]="searchInputValue"
    (searchEvent)="onSearchEvent($event)"
    (clearEvent)="onClearEvent($event)"
  >
  </app-search-field>
</div>

<div>
  <mat-app-table
    [isSotring]="false"
    [changePage]="changePage"
    [totalCount]="totalCount"
    [tableData]="dataSource"
    [isSelectsItem]="true"
    [itemLimit]="itemLimit"
    [isStaticIconButtonInactive]="isRestartBtnInactive"
    (buttonEvent)="functionForButtonEvent($event)"
    (selectedPage)="selectedPageEvent($event)"
    (selectedItem)="selectedItemEvent($event)"
  >
  </mat-app-table>
</div>
