<div class="close-btn-wrapper">
  <mat-app-button
    [mat-dialog-close]="'close'"
    type=""
    [radius]="'round'"
    [className]="'custom-style-close-modal'"
    [backgroundColor]="'white'"
    [color]="'gray'"
    [hover]="'gray'"
    [border]="true"
  >
    <div class="close-modal" [inlineSVG]="'../../../assets/close-1.svg'"></div>
  </mat-app-button>
</div>
<div class="choose-options-modal">
  <div class="choose-options-modal-header">
    <div class="choose-options-modal-title-wrapper">
      <span class="choose-options-modal-title">Select the necessary option(s)</span>
    </div>
  </div>
  <div class="choose-options-modal-content">
    <perfect-scrollbar>
      <div class="option" *ngFor="let option of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
        <app-checkbox (getStateCheckbox)="setStateRules($event, option)"></app-checkbox>
        <div class="option-text">
          The emphasis may also be given on the study of complex interactions, taking into account the structure and
          density of spatial financial relations. All these studies show that the geographical factor still has a
          significant impact on the banks functioning, despite the development of communications and Internet
          technologies.
        </div>
      </div>
    </perfect-scrollbar>
  </div>
  <div class="choose-option-modal-footer footer">
    <div class="buttons-wrapper">
      <mat-app-button
        [color]="'white'"
        [backgroundColor]="'blue'"
        [border]="true"
        [hover]="'gray'"
        [radius]="'semiRound'"
        (clickEvent)="saveButtonClick()"
        ><span>Save</span></mat-app-button
      >
      <mat-app-button
        [color]="'gray'"
        [backgroundColor]="'transparent'"
        [border]="true"
        [hover]="'gray'"
        [radius]="'semiRound'"
        [className]="'custom-style-cancel-button'"
        [mat-dialog-close]="'cancel'"
        type=""
        ><span>Cancel</span></mat-app-button
      >
    </div>
  </div>
</div>
