@import "../../../../theme/styles/common";

.header-title {
  display: flex;
  width: 260px;
  font-size: 16px;
  font-weight: 500; //600
  color: $bank-gray;
  align-items: center;
  font-family: "VTB Group Book" !important;
}
