<div class="content-block">
  <div class="header">
    <div class="notific-number">{{ 'NotificationsTab.NotificationsCount' | translate }}: {{ notificNumber }}</div>
    <div class="clear-btn" (click)="clearAll()">
      <span [inlineSVG]="'../../../assets/archive-all.svg'"></span>
      {{ 'Buttons.ClearAll' | translate }}
    </div>
  </div>
  <div class="content">
    <perfect-scrollbar>
      <div class="content-padding">
        <div *ngIf="notificNumber">
          <app-notification [events]="eventsSubject.asObservable()"></app-notification>
        </div>

        <div *ngIf="!notificNumber" class="absent-notific">
          <div class="absent-icon">
            <span [inlineSVG]="'../../../assets/bell.svg'"></span>
          </div>
          <div class="absent-text">{{ 'NotificationsTab.NoNotifications' | translate }}</div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
<div class="btn-wrapper"></div>
