// @nebular theming framework
@import "node_modules/@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "node_modules/@nebular/theme/styles/themes";
// material themes
@import "src/app/theme/styles/material/material-dark";
@import "src/app/theme/styles/material/material-light";

$nb-themes: nb-register-theme(
  (
    light-green: #eaf3f7,
    login-layout-background-color: var(--light-green),
    font-family-primary: unquote("'VTB Group Book'"),
    layout-padding: 0,
    layout-small-padding: 0,
    layout-medium-padding: 0,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    header-height: 3.5rem,
    header-background-color: rgba(255, 255, 255, 0.8),
    input-basic-background-color: #fff,
    input-focused-text-color: #0a3cb4,
    select-outline-basic-background-color: #fff,
    table-background-color: #fff,
    table-text-color: var(--header-text-color),
    overlay-dark-backdrop-color: rgba(0, 0, 0, 0.32),
    dialog-background-color: #fff,
    dropdown-item-hover-background-color: var(--layout-background-color),
    footer-height: 2.725rem,
    footer-padding: 0.25rem,
    footer-text-color: #9ca6b1,
    sidebar-width: 20rem,
    sidebar-height: 100vh,
    sidebar-padding: 2.25rem 0 0 0,
    color-primary-default: #0a3cb4,
    color-primary-hover: #54aaf9,
    color-primary-focus: #0a3cb4,
    color-primary-focus-border: #0a3cb4,
    color-primary-active: #0a3cb4,
    color-primary-transparent-default: rgba(10, 60, 180, 0.08),
    color-primary-transparent-default-border: #0a3cb4,
    color-primary-transparent-hover: rgba(10, 60, 180, 0.28),
    color-primary-transparent-hover-border: #0a3cb4,
    color-primary-transparent-focus: rgba(10, 60, 180, 0.08),
    color-primary-transparent-focus-border: #0a3cb4,
    color-primary-transparent-active: rgba(10, 60, 180, 0.28),
    color-primary-transparent-active-border: #0a3cb4,
    color-success-default: #0a3cb4,
    color-success-hover: #54aaf9,
    color-success-focus: #0a3cb4,
    color-success-focus-border: #0a3cb4,
    color-success-active: #0a3cb4,
    layout-window-mode-min-width: 400px,
    layout-content-width: 1200px
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    light-green: var(--background-basic-color-2),
    login-layout-background-color: var(--light-green),
    font-family-primary: unquote("'VTB Group Book'"),
    layout-padding: 0,
    layout-small-padding: 0,
    layout-medium-padding: 0,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #262627 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    header-height: 3.5rem,
    text-basic-color: #bbbbbb,
    input-basic-background-color: #192038,
    input-focused-text-color: #bbbbbb,
    table-background-color: var(--header-background-color),
    table-text-color: var(--header-text-color),
    select-basic-text-color: #bbbbbb,
    overlay-dark-backdrop-color: rgba(0, 0, 0, 0),
    dialog-background-color: var(--layout-background-color),
    dropdown-item-hover-background-color: var(--header-background-color),
    footer-height: 2.725rem,
    footer-padding: 0.25rem,
    footer-text-color: #9ca6b1,
    sidebar-width: 20rem,
    sidebar-height: 100vh,
    sidebar-padding: 2.25rem 0 0 0,
    color-primary-default: #0a3cb4,
    color-primary-hover: #54aaf9,
    color-primary-focus: #0a3cb4,
    color-primary-focus-border: #0a3cb4,
    color-primary-active: #0a3cb4,
    color-primary-transparent-default: rgba(10, 60, 180, 0.08),
    color-primary-transparent-default-border: #0a3cb4,
    color-primary-transparent-hover: rgba(10, 60, 180, 0.28),
    color-primary-transparent-hover-border: #0a3cb4,
    color-primary-transparent-focus: rgba(10, 60, 180, 0.08),
    color-primary-transparent-focus-border: #0a3cb4,
    color-primary-transparent-active: rgba(10, 60, 180, 0.28),
    color-primary-transparent-active-border: #0a3cb4,
    color-success-default: #0a3cb4,
    color-success-hover: #54aaf9,
    color-success-focus: #0a3cb4,
    color-success-focus-border: #0a3cb4,
    color-success-active: #0a3cb4,
    layout-window-mode-min-width: 400px,
    layout-content-width: 1200px
  ),
  dark,
  dark
);
