<app-layout-for-steps
  [isPanelDescHidden]="true"
  [headerText]="'Возможные условия кредитования'"
  [headerNumb]="1"
  [isNotAccordion]="true"
>
</app-layout-for-steps>
<div class="mb-4">
  <mat-app-table
    [isSotring]="false"
    [footerIsHide]="true"
    [isSelectsItem]="true"
    [totalCount]="totalCount"
    [tableData]="possibleCreditInfoData"
    [itemLimit]="itemLimit"
    (selectedItem)="selectedItem($event)"
  >
  </mat-app-table>
</div>

<app-layout-for-steps
  [isPanelDescHidden]="true"
  [headerText]="'Выбранные условия кредитования'"
  [headerNumb]="2"
  [isNotAccordion]="true"
>
</app-layout-for-steps>
<div class="mb-4">
  <mat-app-table
    [isSotring]="false"
    [footerIsHide]="true"
    [isSelectsItem]="false"
    [totalCount]="totalCount"
    [tableData]="selectedConditionData"
    [itemLimit]="itemLimit"
    (buttonEvent)="deletedCondition($event)"
  >
  </mat-app-table>
</div>
<app-layout-for-steps
  [isPanelDescHidden]="true"
  [headerText]="'Визуальная оценка'"
  [headerNumb]="3"
  [isNotAccordion]="true"
>
  <div class="w-6 mb-5">
    <div class="row m-0 pt-2 pb-2 border-bottom" *ngFor="let checklist of visualAssessment">
      <div class="col-9 p-0 d-flex font-weight-bold align-items-center">
        {{ checklist?.dirVisualAssessment?.nameRu }}
      </div>
      <div class="col-3 p-0 mt-2 text-right">
        <mat-app-slide-toggle [(value)]="checklist.result"> </mat-app-slide-toggle>
      </div>
    </div>
  </div>
</app-layout-for-steps>
<app-tabs-footer
  [configSrc]="footerConfigSource"
  [hideButtons]="false"
  [buttonsDisabled]="isLoading"
  (footerButtonClick)="onFooterButtonClick($event)"
></app-tabs-footer>
