<app-layout-for-steps
  [isPanelDescHidden]="true"
  [headerText]="'Employment.Titles.IncomeInformation'"
  [headerNumb]="1"
  [isNotAccordion]="true"
>
  <div class="w-100">
    <div class="income-table-wrapper">
      <mat-app-table [isSotring]="false" [footerIsHide]="true" [tableData]="incomeColumnData"> </mat-app-table>
    </div>
  </div>
</app-layout-for-steps>

<!-- [VTBGEB-133]
<app-layout-for-steps [isPanelDescHidden]="true" [headerText]="'Employment.Titles.IncomeAbc'" [headerNumb]="2">
  <div *ngIf="!!insideInfoDto.accountDto && !!insideInfoDto.accountDto.length; else accountListIsEmpty" class="width-100">
    <div
      *ngFor="let account of insideInfoDto.accountDto; let i = index"
      [ngClass]="{ 'except-last-block': i !== insideInfoDto.accountDto.length - 1 }"
      class="wrapper"
    >
      <div class="flex width-100 margin-btm-sm">
        <div class="w-4">
          <p class="sub-title">{{ 'Employment.Placeholders.Iban' | translate }}</p>
          <p>{{ account.iban }}</p>
        </div>
        <div class="w-4">
          <p class="sub-title">{{ 'Employment.Placeholders.EndingBalance' | translate }}</p>
          <p>{{ account.endingBalance }}</p>
        </div>
        <div class="w-4">
          <p class="sub-title">{{ 'Employment.Placeholders.Currency' | translate }}</p>
          <p>{{ account.currency }}</p>
        </div>
      </div>

      // [VTBGEB-133] hide acc ops
      <mat-accordion>
        <mat-expansion-panel [togglePosition]="'before'">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'Employment.Titles.OperationsInfo' | translate }} </mat-panel-title>
          </mat-expansion-panel-header>

          <ng-container *ngIf="!!account.getStatementDto && !!account.getStatementDto.length; else accountHistoryIsEmpty">
            &lt;!&ndash; headers &ndash;&gt;
            <div>
              <div class="width-100 flex margin-btm-sm">
                <div class="w-4">
                  <p class="sub-title">{{ 'Employment.TableHeaders.Date' | translate }}</p>
                </div>
                <div class="w-5">
                  <p class="sub-title">{{ 'Employment.TableHeaders.Iban' | translate }}</p>
                </div>
                <div class="w-4">
                  <p class="sub-title">{{ 'Employment.TableHeaders.OpCode' | translate }}</p>
                </div>
                <div class="w-4">
                  <p class="sub-title">{{ 'Employment.TableHeaders.CreditAmount' | translate }}</p>
                </div>
                <div class="w-2">
                  <p class="sub-title">{{ 'Employment.TableHeaders.Purpose' | translate }}</p>
                </div>
              </div>
            </div>

            <div
              *ngFor="let historyRecord of account.getStatementDto; let i = index"
              [ngClass]="{ 'except-last-block': i !== account.getStatementDto.length - 1 }"
            >
              <div class="width-100 flex margin-btm-sm margin-top-sm">
                <div class="w-4">
                  <p>{{ historyRecord.date | date: 'dd-MM-yyyy' }}</p>
                </div>
                <div class="w-5">
                  <p>{{ historyRecord.partnerAccountIban }}</p>
                </div>
                <div class="w-4">
                  <p>{{ historyRecord.opCode }}</p>
                </div>
                <div class="w-4">
                  <p>{{ historyRecord.creditAmount }}</p>
                </div>
                <div class="w-2">
                  <p>{{ historyRecord.purpose }}</p>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-template #accountHistoryIsEmpty>
            <p>{{ 'ErrorMessage.NoData' | translate }}</p>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>
  <ng-template #accountListIsEmpty>
    <p>{{ 'ErrorMessage.NoData' | translate }}</p>
  </ng-template>
</app-layout-for-steps>
-->
