@import "../../../../theme/styles/colors";

.flex {
  display: flex;
}

p {
  font-size: 14px;
  font-family: Manrope, sans-serif !important;
}

.wrapper {
  padding: 20px 20px 0 20px;
}

.income-table-wrapper {
  height: 500px;
}

.sub-title {
  margin-right: 30px;
  font-weight: 600;
  color: $bank-gray;
  font-family: Manrope, sans-serif !important;
}

.sub-block {
  margin-bottom: 40px;
}

.except-last-block {
  border-bottom: 2px solid $cadet-grey;
}

.work-name {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: Manrope, sans-serif !important;
}

.block-title {
  padding-left: 10px;
  color: $charcoal;
  font-size: 14px;
  font-weight: 600;
  font-family: Manrope, sans-serif !important;
}

.width-100 {
  width: 100%;
}

.w-1 {
  width: 100%;
  padding-left: 10px;
}

.w-2 {
  width: 50%;
  padding-left: 10px;
}

.w-3 {
  width: 33%;
  padding-left: 10px;
}

.w-4 {
  width: 25%;
  padding-left: 10px;
}

.w-5 {
  width: 20%;
  padding-left: 10px;
}

.w-10 {
  width: 10%;
  padding-left: 10px;
}
