@import "../../../theme/styles/colors";
@import "../../../theme/styles/mixins";
@import "../../../theme/styles/tab-style-mixin";

@include tab-style;

h5 {
  font-weight: 600;
  font-size: 14px;
  color: $bank-gray;
  font-family: "VTB Group Book" !important;
}

.m-b {
  margin-bottom: 20px;
}

.p-b {
  padding-bottom: 20px;
}

.padding-top {
  padding-top: 5px;
}

.container-avatar {
  @include container-avatar;
}

.avatar-upload {
  @include avatar-upload;
}

.avatar-spinner {
  @include avatar-spinner;
}

.credit-info-green {
  background-color: $credit-info-green;
}

.credit-info-red {
  background-color: $credit-info-red;
}

.flex {
  display: flex;
}

.spinner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  &.blackout {
    background: rgba($outer-space, 0.05);
  }
}
