<form class="inspection form" [formGroup]="inspectionForm">
  <ng-container
    *ngFor="
      let inspectionGroup of [
        InspectionGroups.ClientInfo,
        InspectionGroups.ActivityInfo,
        InspectionGroups.FinancialInfo
      ];
      let i = index
    "
  >
    <app-layout-for-steps
      [isPanelDescHidden]="true"
      [headerText]="TITLES[inspectionGroup]"
      [headerNumb]="i + 1"
      [isNotAccordion]="true"
    >
      <div class="w-100">
        <div class="mt-2" [formGroupName]="inspectionGroup">
          <div class="row m-0 p-b">
            <ng-container *ngFor="let control of inspectionFormConfig[inspectionGroup]">
              <div [ngClass]="control?.class">
                <mat-app-slide-toggle
                  class="m-b"
                  *ngIf="control.type === EInputType.Checkbox"
                  [labelPosition]="'before'"
                  [formControlName]="control.code"
                  [label]="control.placeholder"
                >
                </mat-app-slide-toggle>

                <app-form-field
                  *ngIf="control.type === EInputType.Text || control.type === EInputType.Number"
                  [formControlName]="control.code"
                  [placeholder]="control.placeholder"
                  [type]="control.type"
                >
                </app-form-field>

                <mat-app-search-select-lazy
                  *ngIf="control.type === EInputType.Select"
                  [formControlName]="control.code"
                  [placeholder]="control.placeholder"
                  [options]="optionsList[control.optionsListName]"
                  [propertyName]="control?.propertyName"
                  [valueType]="control.selectEmittedValueType ? control.selectEmittedValueType : ValueType.Id"
                >
                </mat-app-search-select-lazy>
                <app-date-picker
                  *ngIf="control.type === EInputType.Date"
                  [formControlName]="control.code"
                  [placeholder]="control.placeholder"
                  [maxDate]="control.maxDate"
                  [minDate]="control.minDate"
                ></app-date-picker>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </app-layout-for-steps>
  </ng-container>

  <app-tabs-footer
    [configSrc]="footerConfigSource"
    [hideButtons]="readonlyForm"
    [buttonsDisabled]="isLoading"
    (footerButtonClick)="onFooterButtonClick($event)"
  ></app-tabs-footer>
</form>
