@import "../../../../theme/styles/common";

.button-name {
  font-family: "VTB Group Book" !important;
  font-size: 0.9375rem;
  font-weight: 500;
}

.filter-ico {
  height: 12px;
  margin-top: -10px;
  margin-right: -5px;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-wrap {
  padding: 5px 0 0 23px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 385px;
  .label {
    width: 100%;
  }
}

.btns-wrap {
  padding: 7px 10px;
  width: 100%;
  justify-content: space-around;
}

.width-date {
  width: 306px;
}

.mt-cancel-date {
  margin-top: 11px;
}

::ng-deep {
  .dropdown-list .mat-menu-content:not(:empty) {
    padding-bottom: 0 !important;
  }

  .mat-menu-panel {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 400px !important;
    max-width: none !important;
    max-height: calc(100% - 50px) !important;
  }

  .mat-select-panel-wrap {
    width: 100%;
  }

  .dropdown-wrap mat-app-search-select {
    width: 306px;
  }
}

.cancel-icon-button {
  position: absolute;
  background: 0 0;
  border: none;
  height: 50px;
  right: 6px;
  top: 0;

  &:focus {
    outline: none;
  }

  & .mat-icon {
    //position: absolute;
    //top: 6px;
    //left: 20px;
    //width: 20px;
    //height: 20px;
    color: $ku-crimson;
    cursor: pointer;
  }

  &:disabled .mat-icon {
    color: $cadet-grey;
  }
}

.cancel-button {
  background: none;
  color: $cadet-grey;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;

  &:hover {
    color: $light-gray;
  }
}

.mat-badge-content {
  background: $blue;
}

.icon svg {
  position: relative;
  top: 8px;
  left: 8px;
}

.calendar-icon {
  color: var(--white);
  width: 24px;
  height: 24px;
}
