<form class="form" [formGroup]="fullForm">
  <div class="data-form-block">
    <app-layout-for-steps
      id="applicant-info"
      [isPanelDescHidden]="true"
      [headerText]="'Персональные данные'"
      [headerNumb]="1"
      [isNotAccordion]="true"
    >
      <div class="w-100">
        <div class="row m-0">
          <div class="col">
            <div class="container-avatar">
              <div class="avatar-upload">
                <div class="avatar-preview view">
                  <div [style.backgroundImage]="'url(data:image/jpeg;base64,' + clientData.photo + ')'"></div>
                </div>
              </div>
              <p class="font-weight-bold">Фото</p>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <app-form-field formControlName="lastName" placeholder="Фамилия *" type="text"></app-form-field>
          </div>
          <div class="col">
            <app-form-field formControlName="firstName" placeholder="Имя *" type="text"></app-form-field>
          </div>
          <div class="col">
            <app-form-field formControlName="middleName" placeholder="Отчество *" type="text"></app-form-field>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <app-date-picker formControlName="birthDate" placeholder="Дата рождения *"></app-date-picker>
          </div>
          <div class="col">
            <app-form-field formControlName="birthPlace" placeholder="Место рождения *" type="text"></app-form-field>
          </div>
          <div class="col">
            <mat-app-search-select formControlName="genderId" placeholder="Пол *" [options]="gender">
            </mat-app-search-select>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <mat-app-search-select formControlName="citizenshipId" placeholder="Гражданство *" [options]="countries">
            </mat-app-search-select>
          </div>
          <div class="col">
            <mat-app-search-select
              formControlName="maritalStatusId"
              placeholder="Семейный статус *"
              [options]="maritalStatuses"
            >
            </mat-app-search-select>
          </div>
        </div>
      </div>
    </app-layout-for-steps>

    <app-layout-for-steps
      id="document"
      [isPanelDescHidden]="true"
      formGroupName="identityCard"
      [headerText]="'Документ, удостоверяющий личность'"
      [headerNumb]="2"
      [isNotAccordion]="true"
    >
      <div class="col-8 p-0">
        <div class="row m-0">
          <div class="col">
            <app-form-field formControlName="series" placeholder="Серия *" type="text"></app-form-field>
          </div>
          <div class="col">
            <app-form-field formControlName="number" placeholder="Номер документа *" type="text"></app-form-field>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <mat-app-search-select
              formControlName="identityCardType"
              placeholder="Тип документа"
              [options]="passportTypes"
              [valueType]="ValueType.Object"
            >
            </mat-app-search-select>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <app-form-field formControlName="pin" placeholder="PIN *" type="text"></app-form-field>
          </div>
          <div class="col">
            <app-form-field formControlName="issuedBy" placeholder="Документ выдан: *" type="text"> </app-form-field>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <app-date-picker
              formControlName="issueDate"
              [minDate]="fullForm.get('birthDate').value"
              [maxDate]="maxIssueDate"
              placeholder="Дата выдачи *"
            >
            </app-date-picker>
          </div>
          <div class="col">
            <app-date-picker
              formControlName="validityDate"
              [minDate]="fullForm.get('identityCard').get('issueDate').value"
              placeholder="Годен до: *"
            >
            </app-date-picker>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container-avatar">
          <div class="avatar-upload">
            <div class="avatar-preview avatar-preview-signature view">
              <div
                id="image-preview"
                [style.backgroundImage]="
                  'url(data:image/jpeg;base64,' + fullForm.get('identityCard').get('signature').value + ')'
                "
              ></div>
            </div>
          </div>
          <p class="font-weight-bold m-0">Подпись</p>
        </div>
      </div>
    </app-layout-for-steps>

    <app-layout-for-steps
      id="contact-info"
      [isPanelDescHidden]="true"
      [headerText]="'Адрес и телефон'"
      [headerNumb]="3"
      [isNotAccordion]="true"
    >
      <div class="w-100">
        <div class="row m-0">
          <div class="col">
            <app-form-field
              formControlName="mobilePhone"
              prefix="+"
              placeholder="Мобильный телефон *"
              type="phoneNumber"
            >
            </app-form-field>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <app-form-field formControlName="regAddress" placeholder="Адрес регистрации *" type="text"></app-form-field>
          </div>
        </div>

        <div class="row m-0" formGroupName="regAddr">
          <div class="col-6">
            <mat-app-search-select-lazy
              formControlName="countryParsed"
              placeholder="Страна"
              type="select"
              [options]="countries"
              [valueType]="ValueType.Object"
            ></mat-app-search-select-lazy>
          </div>
          <div class="col-6">
            <mat-app-search-select-lazy
              formControlName="regionParsed"
              placeholder="Регион"
              type="select"
              [options]="regions"
              [valueType]="ValueType.Object"
            ></mat-app-search-select-lazy>
          </div>
          <div class="col-6">
            <mat-app-search-select-lazy
              formControlName="cityParsed"
              placeholder="Город"
              type="select"
              [options]="cities"
              [valueType]="ValueType.Object"
            ></mat-app-search-select-lazy>
          </div>
          <div class="col-6">
            <app-form-field formControlName="streetParsed" placeholder="Улица" type="text"></app-form-field>
          </div>
          <div class="col-6">
            <mat-app-search-select-lazy
              formControlName="country"
              placeholder="Страна *"
              type="select"
              [options]="countries"
              [valueType]="ValueType.Object"
            ></mat-app-search-select-lazy>
          </div>
          <div class="col-6">
            <mat-app-search-select-lazy
              formControlName="region"
              placeholder="Регион *"
              type="select"
              [options]="regions"
              [valueType]="ValueType.Object"
            ></mat-app-search-select-lazy>
          </div>
          <div class="col-6">
            <mat-app-search-select-lazy
              formControlName="city"
              placeholder="Город *"
              type="select"
              [options]="cities"
              [valueType]="ValueType.Object"
            ></mat-app-search-select-lazy>
          </div>
          <div class="col-6">
            <app-form-field formControlName="street" placeholder="Улица *" type="text"></app-form-field>
          </div>
        </div>
      </div>
    </app-layout-for-steps>

    <app-layout-for-steps
      id="employments-info"
      [isPanelDescHidden]="true"
      [headerText]="'Сведения о деятельности'"
      [headerNumb]="4"
      [isNotAccordion]="true"
    >
      <div class="w-100">
        <div class="row m-0">
          <div class="col">
            <mat-app-search-select
              formControlName="dirCompanyActivityTypeId"
              placeholder="Сфера деятельности"
              [options]="companyActivityTypes"
            >
            </mat-app-search-select>
          </div>
        </div>
      </div>
    </app-layout-for-steps>
  </div>

  <app-tabs-footer
    [configSrc]="footerConfigSource"
    [hideButtons]="readonlyForm"
    [buttonsDisabled]="isLoading"
    (footerButtonClick)="onFooterButtonClick($event)"
  ></app-tabs-footer>
</form>
