@import "../../../theme/styles/common";

header {
  height: 40px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0 0 15px $light_gray;
}

header .navbar {
  margin-bottom: $spacer;
  background-color: $white;
  height: 100%;
  padding: 0;
}

header .navbar-brand {
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 20px;
}

header .navbar-nav {
  height: 100%;
  width: 100%;
  display: block;
}

header .nav-dropdown {
  text-align: center;
  line-height: 47px;
  cursor: pointer;
  float: right;

  &.language {
    width: 50px;
  }

  &.profile {
    position: relative;
    width: 100px;
  }
  .logo {
    width: 35.7px;
    height: 35.7px;
    border-radius: 50%;
    margin-top: 1px;
    &::after {
      margin-left: 2.3em;
      font-size: 1.137em;
    }
  }

  [aria-labelledby="user-dropdown"] {
    top: 8px !important;
    left: 8px !important;
    width: 250px;
    background: $white;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.22), 0 12px 28px 0 rgba(0, 0, 0, 0.21);
  }

  span {
    color: $outer-space-triple;
    font-weight: 600;
    font-size: 13px;
    font-family: Manrope, sans-serif !important;
  }

  .dropdown-header {
    white-space: normal;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem 0.5rem 1rem;
    .logo {
      position: absolute;
      margin-top: 0;
      margin-right: 10px;
    }
    .user-name {
      word-break: break-word;
      padding-right: 0.5rem;
      margin-left: 47px;
    }
  }

  .dropdown-item {
    padding: 0 1.5rem 0 0.7rem;

    &.profile {
      margin-top: 0.5rem;
    }

    &:active {
      background: $munsell;
      color: $outer-space-triple;
    }

    i {
      font-size: 11px;
    }
  }
}

.navbar-menu {
  justify-content: flex-end;
}
// dropdown arrow removing:
.dropdown-toggle::after {
  display: none;
}

.drop-svg {
  position: absolute;
  top: -4px;
  left: 50px;
}

.navbar-locale {
  cursor: pointer;
}

.navbar-locale-icon {
  width: 40px;
  text-align: center;
}

.navbar-locale-value {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
