<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" [routerLink]="['/mode']" routerLinkActive="active">
      <img src="../../../assets/biglogo.png" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="navbar-menu navbar-collapse" [ngbCollapse]="menuHidden">
      <ng-content #headerNav></ng-content>
      <div
        class="navbar-locale d-flex mr-5"
        (click)="setLanguage(currentLanguage === ELanguage.Ru ? ELanguage.Ge : ELanguage.Ru)"
      >
        <div class="navbar-locale-icon">
          <ng-container *ngIf="currentLanguage === ELanguage.Ru">
            <span [inlineSVG]="'../../assets/ru.svg'"></span>
          </ng-container>
          <ng-container *ngIf="currentLanguage === ELanguage.Ge">
            <span [inlineSVG]="'../../assets/georgia.svg'"></span>
          </ng-container>
        </div>
        <div class="navbar-locale-value">
          {{ currentLanguage === ELanguage.Ru ? 'RU' : 'GE' }}
        </div>
      </div>
      <div class="nav-dropdown profile" ngbDropdown display="dynamic" placement="bottom-right">
        <div class="logo" [ngStyle]="{ background: 'url(' + (url || defaultUrl) + ')' }" ngbDropdownToggle>
          <span class="drop-svg" [inlineSVG]="'../../assets/drop-20.svg'"></span>
        </div>
        <div ngbDropdownMenu aria-labelledby="user-dropdown">
          <div class="dropdown-header">
            <div class="logo" [ngStyle]="{ background: 'url(' + (url || defaultUrl) + ')' }"></div>
            <span class="user-name" translate>{{ userName$ | async }}</span>
          </div>
          <span class="dropdown-item profile" (click)="openClientDialog()">{{ 'Header.Profile' | translate }}</span>
          <span class="dropdown-item logout" (click)="logout()" translate
            ><em class="fas fa-sign-out-alt"></em> {{ 'Header.Logout' | translate }}</span
          >
        </div>
      </div>
    </div>
  </nav>
</header>
