<app-layout>
  <ngx-layout-colm [size]="'small-link'">
    <app-sidebar
      [linkList]="sidebarLinkList"
      [applicationNumber]="applicationNumber"
      [infoBlock]="infoBlock"
      [isInfoBlockFixed]="true"
      [isSidebarContentVisible]="isSideMenuVisible"
      [isQueueApp]="isAppFromQueues"
    >
    </app-sidebar>
  </ngx-layout-colm>
  <ngx-layout-colm [size]="'big-link'">
    <div *ngIf="isLoading" class="spinner-box d-flex align-items-center justify-content-center h-100">
      <mat-spinner class="text-center"></mat-spinner>
    </div>
    <div class="wrapper">
      <div class="prev-stage-block">
        <div class="header-title">
          <div class="header-title-icon">
            <span [inlineSVG]="'../../../assets/done.svg'"></span>
          </div>
          <div>
            {{ language === ELanguage.Ge ? stage?.nameGe : stage?.nameRu }}
          </div>
        </div>

        <div *ngIf="!!progressStages.length && !isLoading" class="steps">
          <app-stepper [barList]="progressStages" [currentStage]="applicationData.stage"> </app-stepper>
        </div>
      </div>

      <mat-tab-group
        *ngIf="!isProgressBarLoading"
        #tabGroup
        class="full-form-tabs"
        (selectedTabChange)="tabChanged($event)"
      >
        <mat-tab
          *ngIf="tabsState[TabNames.FinalDecision].isVisible"
          [label]="tabTitles[TabNames.FinalDecision] | translate"
        >
          <perfect-scrollbar>
            <div class="mat-tab-body-height padding-bottom-data-form">
              <app-mass-segment-final-decision
                *ngIf="!isLoading"
                [appDto]="applicationData"
                [readonlyForm]="tabsState[TabNames.FinalDecision].isReadonly"
                [language]="language"
              >
              </app-mass-segment-final-decision>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab
          *ngIf="tabsState[TabNames.Verification].isVisible"
          [label]="tabTitles[TabNames.Verification] | translate"
        >
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <app-mass-segment-verification
                *ngIf="!isLoading"
                [applicationData]="applicationData"
                [isAppInQueues]="isAppFromQueues"
                [progressStages]="progressStages"
                [verificationData]="tabsData[TabsDataNames.VerificationData]"
                [readonlyForm]="tabsState[TabNames.Verification].isReadonly"
                [language]="language"
              >
              </app-mass-segment-verification>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab *ngIf="tabsState[TabNames.Inspection].isVisible" [label]="tabTitles[TabNames.Inspection] | translate">
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <app-mass-segment-inspection
                *ngIf="!isLoading"
                [applicationData]="applicationData"
                [businessInspection]="tabsData[TabsDataNames.BusinessInspection]"
                [readonlyForm]="tabsState[TabNames.Inspection].isReadonly"
                [language]="language"
              >
              </app-mass-segment-inspection>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab [label]="tabTitles[TabNames.FullForm] | translate">
          <div class="padding-bottom-data-form">
            <app-mass-segment-full-form
              *ngIf="!isLoading"
              [isMenuVisible]="isSideMenuVisible"
              [applicationData]="applicationData"
              [historyRes]="innAcbHistoryResponse"
              [managerInfo]="tabsData[TabsDataNames.ManagerInfo]"
              [applicantPhotoInfo]="tabsData[TabsDataNames.ApplicantPhotoInfo]"
              [readonlyForm]="tabsState[TabNames.FullForm].isReadonly"
              [language]="language"
            >
            </app-mass-segment-full-form>
          </div>
        </mat-tab>

        <mat-tab *ngIf="tabsState[TabNames.AcbInfoInn].isVisible" [label]="tabTitles[TabNames.AcbInfoInn] | translate">
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-history-response
                *ngIf="!isLoading"
                [historyRes]="innAcbHistoryResponse"
                [creditHistory]="innCreditHistory"
              ></ng-history-response>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab *ngIf="tabsState[TabNames.AcbInfoFin].isVisible" [label]="tabTitles[TabNames.AcbInfoFin] | translate">
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-history-response
                *ngIf="!isLoading"
                [historyRes]="pinAcbHistoryResponse"
                [creditHistory]="pinCreditHistory"
              ></ng-history-response>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab [label]="tabTitles[TabNames.Decision] | translate">
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-brms-decision
                *ngIf="!isLoading"
                [appDto]="applicationData"
                [readonlyForm]="tabsState[TabNames.Decision].isReadonly"
              ></ng-brms-decision>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab
          *ngIf="tabsState[TabNames.InternalInfo].isVisible"
          [label]="tabTitles[TabNames.InternalInfo] | translate"
        >
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-inside-info
                *ngIf="!isLoading"
                [insideInfoDto]="tabsData[TabsDataNames.PreApprovedDto]"
              ></ng-inside-info>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab *ngIf="tabsState[TabNames.Documents].isVisible" [label]="tabTitles[TabNames.Documents] | translate">
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-documents *ngIf="!isLoading" [applicationData]="applicationData"></ng-documents>
            </div>
          </perfect-scrollbar>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ngx-layout-colm>
</app-layout>
