<div>
  <table class="attach-table" aria-describedby="attach-table-caption">
    <tr>
      <th scope="col">DocName</th>
      <th scope="col">DocType</th>
      <th scope="col">Download</th>
      <th scope="col">Delete</th>
    </tr>
    <tr *ngFor="let doc of attachedDocs; let i = index">
      <td>{{ doc.name }}</td>
      <td>{{ doc.type }}</td>
      <td>
        <button (click)="downloadFile(doc)" type="button">Скачать</button>
      </td>
      <td>
        <button (click)="removeFile(i)" type="button">Удалить</button>
      </td>
    </tr>
  </table>
</div>
