@import "../../../../../theme/styles/common";

.client-modal-form {
  height: 100%;
}

.content-wrapper ul {
  list-style-type: none;
  padding-left: 0;
  flex: 2;
}

.client-modal {
  height: 100%;
  position: relative;
  form {
    height: calc(100% - 85px);
  }
  .name-dialog-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 38px;
    padding-bottom: 10px;
    h3 {
      height: 1.75rem;
    }
  }

  .client-modal-scroll-wrapper {
    height: calc(100% - 84px);
    padding: 0 20px;

    .search-select-wrapper {
      padding-right: 50px;
    }
    ul {
      padding-right: 20px;
    }
  }
}

.content-wrapper .close-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.content-wrapper .client-roles {
  width: 56%;
  position: relative;
  padding-left: 39px;

  .title {
    font-size: 14px;
    color: $outer-space-triple;
    font-weight: 500; //600
    padding-bottom: 10px;
    font-family: "VTB Group Book" !important;
  }

  .default-select {
    font-size: 12px;
    font-weight: 500; //600
    color: #9f9d9d;
    cursor: pointer;
    margin-left: -3px;
    font-family: "VTB Group Book" !important;
  }

  .roles {
    background: $munsell;
    border-radius: 10px;
    margin-left: -15px;
    margin-top: 10px;

    .role-item {
      padding: 10px;
      display: flex;
      font-size: 14px;
      font-weight: 500; //600
      justify-content: space-between;
      font-family: "VTB Group Book" !important;

      .clear-role {
        padding-right: 5px;
        cursor: pointer;
        color: #0054a6;
        font-size: 13px;
        font-weight: 400;
        font-family: "VTB Group Light" !important;

        &:hover {
          color: #d3d8de;
        }
      }
    }
  }
}

.content-wrapper .field-wrapper {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.buttons-wrapper .edit-button-wrapper,
.buttons-wrapper .save-cancel-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

::ng-deep {
  .mat-typography {
    overflow: hidden;
  }
  .content-wrapper {
    position: relative;
    .fields-info-wrapper {
      display: flex;
      position: relative;
      padding-left: 24px;
      padding-right: 24px;

      .client-modal-form-list {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
      }

      .search-select-wrapper {
        flex: 1;
      }
    }

    mat-expansion-panel-header {
      &:hover {
        background-color: $white !important;
      }

      &:focus {
        background-color: $white !important;
      }
    }
  }

  .content-wrapper ul.custom-style-fields mat-form-field {
    background: $white;
    border: none;

    .mat-form-field-infix > input {
      color: $dark-jungle-green;
    }
  }
}

:host ::ng-deep {
  .mat-expansion-panel-header {
    font-family: "VTB Group Book" !important;
    padding: 0 8px;
    margin: 0 18px;
  }

  .custom-style-edit-button {
    position: relative;
  }

  .activate-deactivate-button-wrapper {
    display: flex;

    .custom-style-activate-button,
    .custom-style-activate-button:hover {
      background: rgba(138, 219, 59, 1);
    }

    .custom-style-deactivate-button,
    .custom-style-deactivate-button:hover {
      margin-left: 15px;
      background: red;
    }
  }

  .close-modal {
    margin-left: 2px;

    svg {
      fill: $cadet-grey;
      width: 20px;
      height: 20px;
    }
  }
}
