@mixin tabs-wrapper {
  .wrapper {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
  }
  .prev-stage-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 20px 4px 20px;
    border-bottom: 1px solid $gainsboro;
    background-color: $body_blue;
    font-family: Manrope, sans-serif !important;
  }

  .header-title {
    display: flex;
    width: 260px;
    font-size: 16px;
    font-weight: 600;
    color: $bank-gray;
    align-items: center;
    font-family: Manrope, sans-serif !important;
  }

  .header-title-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .steps {
    width: calc(100% - 265px);
  }

  .spinner-box {
    position: absolute;
    left: 50%;
    transform: translate(50%);
  }

  :host ::ng-deep {
    .full-form-tabs.mat-tab-group {
      color: $bank-gray;

      > .mat-tab-header {
        height: 50px;
        border-bottom: 1px solid $border-blue;

        > .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label .mat-tab-label-content {
          white-space: pre-wrap;
        }

        > .mat-tab-label-container > .mat-tab-list > .mat-tab-labels > .mat-tab-label {
          width: 20%;
          font-weight: 600;
          font-size: 12px;
          color: $bank-gray;
          opacity: 1;
          font-family: Manrope, sans-serif !important;
        }
      }
    }
  }

  .mat-tab-body-height {
    height: calc(100vh - 168px);
  }

  .mat-data-form-height {
    height: calc(100vh - 232px);
  }

  .padding-bottom-data-form {
    padding-bottom: 64px;
  }
}
