$dodger-blue: #1c7fef; // blue color for form-field
$gainsboro: #d7dbe0; // for border forms
$gainsboro-double: #d7dde2;
$snow: #f9f9fb; //background field
$munsell: #eff4f9; // hover option or select option
$cadet-grey: #9ca6b1; // grey colors for border, background label
$ash-grey: #abb4bd; //for color icon of field
$charcoal: #31363c;
$fokus-button-border: #6ab0ff; // border in fokus for button
$dark-jungle-green: #172b4d; // instead of #0d1721
$white: #fff;
$light-gray: #c9ced4;
$black: #000;
$silver: #bdbdbd;
$kelly-green: #6ab412;
$lavender-gray: #c4c9cf;
$outer-space: #404544;
$medium-jungle-green: #1c2e41;
$bleu-de-france: #1a78e3;
$ku-crimson: #e30009;
$platinum: #e4e6e9;
$dodger-blue-1: #1d80ef;
$charcoal-1: #2d363f;
$united-nations-blue: #4895ed;
$caribbean_green: #18d37d;
$charcoal-2: #3a3d40;
$dark-tangerine: #ffae21;
$dim-gray: #5e6369;
$cg-red: #e33530;
$dodger-blue-2: #1c74f7;
$davy-grey: #555;
$white-smoke: #f7f7f7;
$isabelline: #eee;
$manatee: #9b9ea1;
$candy-apple-red: #ff0700;
$outer-space-double: #474747;
$white-double: #fefefe;
$dodger-blue-double: #1c7eed;
$inchworm: #a4fb50;
$persian-rose: #f42299;
$dark-tangerine: #fca815;
$kelly-green: #66ba14;
$cobalt: #0b4baa;
$munsell-1: #eef3f8;
$outer-space-triple: #172b4d; // instead of #40454b
$medium-jungle-green: #2b3137;
$aurometalsaurus: #777;
$white-tripple: #fdfdfd;
$snow-double: #fcfcfc;
$yale-blue: #10519a;
$davy-grey-double: #535252;
$dark-jungle-green-double: #1a1d26;
$charcoal-double: #3a3f4d;
$glitter: #e9edf3;
$dim-gray: #686d72;
$fern: #69c872;
$yellow-green: #8adb3b;
$ufo-green: #2fe07a;
$dark-jungle-green-triple: #1d1d1d;
$flame: #f65524;
$orange-yellow: #ffca64;
$maya-blue: #80c3fc;

// request from bank for this colors:
$bank-gray: #172b4d; // instead of #565c68
$bank-light-gray: #909aaf;

// for updated UI
$extra_light_blue: #f6f9ff;
$body_blue: #f6f9ff;
$light_blue: #afbddf;
$extra_light_gray: #f9f9fb;
$light_gray: #c6cad8;
$blue: #4770d2;
$extra_dark: #132244;
$border-gray: #eff2f4;
$border-blue: #afbddf;
$table-header: #deebff;

// selected credit info
$credit-info-green: #69c8727d;
$credit-info-red: #e3000942;
