@import "./colors";

.filter-container {
  position: relative;
  height: 47px;
  //padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  .input-wrapper {
    margin-right: 20px;
  }
}
