.buttons-wrapper {
  .edit-button-wrapper {
    padding-left: 15px !important;
  }

  .save-cancel-buttons-wrapper {
    padding-left: 15px !important;
    justify-content: flex-start !important;

    mat-app-button:first-child {
      margin-right: 20px;
    }
  }
}

.mat-option:hover:not(.mat-option-disabled) {
  background: rgba(0, 0, 0, 0.1);
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: rgba(0, 0, 0, 0.2);
}

.mat-form-field-infix {
  input {
    color: #000;
    font-size: 12px;
    font-weight: bold;
  }
}

.mat-select-value {
  font-size: 12px;
}
