<div class="flex-block">
  <div class="mb-2 align-self-end">
    <mat-app-button
      [backgroundColor]="'blue'"
      [color]="'white'"
      [hover]="'blue'"
      [radius]="'semiRound'"
      (clickEvent)="updateList()"
    >
      {{ 'Administration.Buttons.UpdateList' | translate }}
    </mat-app-button>
  </div>
  <perfect-scrollbar class="ps-height">
    <div class="table-block">
      <mat-app-table
        [objColNameProps]="objColNameProps"
        [tableData]="dataSource"
        [isSotring]="false"
        [isReadonly]="true"
      >
      </mat-app-table>
    </div>
  </perfect-scrollbar>
</div>
