<app-layout>
  <ngx-layout-colm [size]="'small-link'">
    <app-sidebar-clients [infoBlock]="infoBlock" [isInfoBlockFixed]="true"> </app-sidebar-clients>
  </ngx-layout-colm>
  <ngx-layout-colm [size]="'big-link'">
    <div *ngIf="isLoading" class="spinner-box d-flex align-items-center justify-content-center h-100">
      <mat-spinner class="text-center"></mat-spinner>
    </div>
    <div class="wrapper">
      <div class="prev-stage-block">
        <div class="header-title">
          <div class="header-title-icon">
            <span [inlineSVG]="'../../../assets/done.svg'"></span>
          </div>
          <div>
            {{ title }}
          </div>
        </div>
      </div>

      <mat-tab-group #tabGroup class="full-form-tabs">
        <mat-tab [label]="tabTitles[TabNames.FullForm]">
          <div class="padding-bottom-data-form">
            <app-clients-full-form
              *ngIf="!isLoading"
              [isMenuVisible]="isSideMenuVisible"
              [clientData]="clientData"
              [readonlyForm]="tabsState[TabNames.FullForm].isReadonly"
              [managerInfo]="tabsData[TabsDataNames.ManagerInfo]"
            >
            </app-clients-full-form>
          </div>
        </mat-tab>

        <mat-tab [label]="tabTitles[TabNames.Documents]">
          <div class="mat-tab-body-height">
            <app-documents-clients
              *ngIf="!isLoading"
              [clientData]="clientData"
              [currentRoles]="currentRoles"
            ></app-documents-clients>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ngx-layout-colm>
</app-layout>
