@import "../../../theme/styles/common";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  height: 50px;
  position: relative;
  display: block;
  width: 180px;
  font-size: 0.9375rem;
  text-align: center;
  float: left;
  padding: 0;
  border-radius: 0 0 0.25rem 0.25rem;

  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &:not(:last-child)::after {
    content: "";
    background: $light_gray;
    position: absolute;
    bottom: 10px;
    left: 179px;
    height: 61%;
    width: 1px;
  }

  span {
    font-weight: 500;
    color: $bank-gray;
    font-family: "VTB Group Book" !important;
  }

  &.active {
    background: $blue;
    font-size: 0.9375rem;
    right: 1px;
    span {
      color: #fff;
    }
  }
}
