<form class="decision-form" [formGroup]="form">
  <div class="w-100 p-3">
    <mat-app-table
      [tableData]="documentsData"
      [isSorting]="false"
      [footerIsHide]="true"
      (linkEvent)="linkEvent($event)"
      (buttonEvent)="deleteDoc($event)"
    >
    </mat-app-table>

    <br />
    <div class="buttons-doc-box">
      <mat-app-button
        class="attach-button-root"
        [className]="'attach-button'"
        [radius]="'semiRound'"
        [backgroundColor]="'transparent'"
        [border]="true"
        [hover]="'gray'"
        [color]="'gray'"
        [disabled]="isView && !isDSA && !isCreditManager && !isVideoBank && !isArchivist"
        (clickEvent)="attachFile()"
      >
        <span [inlineSVG]="'./assets/img/cloud.svg'" class="icon"></span>
        {{ 'Documents.Buttons.AttachFile' | translate }}
      </mat-app-button>

      <div class="e-sign-btn">
        <mat-app-button
          *ngIf="isPaperworkStage && isESignPossible"

          class="attach-button-root "
          [className]="'attach-button'"
          [radius]="'semiRound'"
          [backgroundColor]="'blue'"
          [color]="'white'"
          [border]="true"
          [hover]="'gray'"
          [disabled]="disabledESign || isOtpValid || isSmsSign"
          (clickEvent)="getEAgreement()"
        >
          {{ textDigitalContract | translate }}
        </mat-app-button>
        <span>{{ timer | async }}</span>
      </div>


      <div class="otp-control" *ngIf="showOtpControl">
        <app-form-field [maxLength]="6"
                        [formControl]="otpControl"
                        [disabled]="isOtpValid"
                        [readonly]="isOtpValid"
                        [placeholder]="'ShortForm.EnterOTPCode' | translate" [type]="EInputType.Number"> </app-form-field>
        <div class="validation-otp">
          <ng-container *ngIf="isOtpValid; else invalidOtp">
            <mat-icon class="icon icon-check" svgIcon="check"></mat-icon>
          </ng-container>

          <ng-template #invalidOtp>
            <mat-icon class="icon icon-close" svgIcon="cancel"></mat-icon>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="m-0 pb-4" [formGroupName]="DocumentsGroupKeys.Info">
      <ng-container *ngFor="let control of infoConfig">
        <div [ngClass]="control?.class">
          <app-form-field
            *ngIf="
              control.type === EInputType.Text ||
              control.type === EInputType.Number ||
              control.type === EInputType.PhoneNumber
            "
            [formControlName]="control.code"
            [maxLength]="control.maxLength"
            [placeholder]="control.placeholder"
            [readonly]="control?.readonly"
            [type]="control.type"
          >
          </app-form-field>
        </div>
      </ng-container>
    </div>
  </div>
  <div
    class="mat-spinner-background"
    *ngIf="downloadAttachmentLoading || uploadAttachmentLoading || attachmentTypesLoading"
  >
    <mat-spinner></mat-spinner>
  </div>

  <app-tabs-footer [configSrc]="footerConfigSource" (footerButtonClick)="onFooterButtonClick($event)"></app-tabs-footer>
</form>
