<div class="f-main-container" [class.modal-view]="isModalView">
  <div class="close-modal-box" *ngIf="isModalView">
    <span class="close-modal" type="" [mat-dialog-close]="'close'"
      ><img src="./assets/img/PopupCloseDark.png" alt=""
    /></span>
  </div>

  <div class="file-uploader-block">
    <div>
      {{ titleForPreview | translate }}
    </div>

    <div class="avatar-edit-wrapper choose-block" [class.modal-view-choose]="isModalView" *ngIf="!fileName">
      <div (click)="fileInput.click()">
        <label class="btn btn-danger btn-min-width">
          {{ 'Modals.Buttons.ChooseFile' | translate: { fileSize: getAttachmentMaxSize } }}
        </label>
        <!-- formControlName="file" -->
        <input class="d-none" type="file" [accept]="acceptForInput" (change)="uploadFile($event)" #fileInput />
      </div>
      <div class="d-flex label">
        {{ 'ShortForm.ChooseFile' | translate: { fileSize: getAttachmentMaxSize } }}
      </div>
    </div>

    <div class="avatar-edit-wrapper choose-block" [class.modal-view-choose]="isModalView" *ngIf="fileName">
      <span class="title" (click)="previewAttachment()">
        {{ fileName }}
      </span>

      <div class="icon-block" (click)="deleteFile()">
        <span [inlineSVG]="'assets/img/bin-essential.svg'" class="icon"></span>
        <span>
          {{ 'ShortForm.Delete' | translate }}
        </span>
      </div>
    </div>
    <p class="error" *ngIf="isAttachmentSizeInvalid">
      {{ 'Modals.ErrorMessages.TooLargeFile' | translate: { fileSize: getAttachmentMaxSize } }}
    </p>
    <p class="error" *ngIf="isAttachmentTypeInvalid">
      {{ 'Modals.ErrorMessages.InvalidFileFormat' | translate }}.
      {{ 'Modals.ErrorMessages.AcceptedFileFormat' | translate }}: pdf, jpg, png, xls, xlsx, doc, docx
    </p>
    <p class="error" *ngIf="showError">{{ showError | translate }}</p>
  </div>

  <div class="modal-action-box" *ngIf="showUploadBtn">
    <mat-app-button
      [type]="'submit'"
      [className]="'mt-2'"
      [size]="'big'"
      [radius]="'semiRound'"
      [backgroundColor]="'transparent'"
      [border]="true"
      [disabled]="!fileName || isAttachmentSizeInvalid || isAttachmentTypeInvalid || disableUpload"
      [hover]="'blue'"
      [color]="'blue'"
      (clickEvent)="emitUploadFile()"
    >
      {{ 'Modals.Buttons.UploadFile' | translate }}
    </mat-app-button>
  </div>

  <div *ngIf="src">
    <img [src]="src" width="10%" height="10%" />
  </div>
</div>
