<div class="notification" [@changeDivSize]="currentAnimationState">
  <div class="notification-wrapper">
    <div class="bell-icon-wrapper">
      <span *ngIf="!statusViewed" class="bell-dot"></span>
      <span [inlineSVG]="'./assets/img/bell-5.svg'" class="bell-icon"></span>
    </div>
    <div class="notification-content">
      <div class="notification-content-header">
        <span class="notification-id">APL0000200</span>
        <span class="notification-date">18-12-2019 10:56:33</span>
      </div>
      <div class="notification-content-footer">
        <span class="notification-title"
          >Application was sent for processing from a short questionnaire 16-12-2019 11:51:50.</span
        >
      </div>
    </div>
  </div>
  <div class="archive-icon-wrapper" (click)="hideComponent()">
    <em class="fas fa-check"></em>
  </div>
</div>
