<div class="navbar-nav">
  <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
    <span class="nav-link-text">{{ 'Header.Tasks' | translate }}</span>
  </a>
  <a class="nav-link" routerLink="queues" routerLinkActive="active">
    <span class="nav-link-text">{{ 'Header.Queues' | translate }}</span>
  </a>
  <a
    *ngIf="currentRoles.isAdmin || currentRoles.isAuditor || currentRoles.isRiskBoss || currentRoles.isCallCenterBoss"
    class="nav-link"
    routerLink="report"
    routerLinkActive="active"
  >
    <span class="nav-link-text">{{ 'Header.Reporting' | translate }}</span>
  </a>
  <ng-container *ngIf="currentRoles.isAdmin || currentRoles.isUnder">
    <a class="nav-link" routerLink="directories" routerLinkActive="active">
      <span class="nav-link-text">{{ 'Header.References' | translate }}</span>
    </a>
    <a class="nav-link" routerLink="administration" routerLinkActive="active">
      <span class="nav-link-text">{{ 'Header.Administration' | translate }}</span>
    </a>
  </ng-container>
  <ng-container *ngIf="currentRoles.isAdmin || currentRoles.isAnalyst">
    <a class="nav-link" routerLink="preapproved" routerLinkActive="active">
      <span class="nav-link-text">{{ 'Header.PreApproved' | translate }}</span>
    </a>
  </ng-container>
</div>
