<div class="filter-wrapper" [ngClass]="{ 'd-none': isMonitoringQueue }">
  <div class="slide-wrapper d-flex">
    <div
      class="btn-refresh"
      #tooltip="matTooltip"
      matTooltip="{{ 'SearchBar.Update' | translate }}"
      matTooltipHideDelay="300"
      matTooltipPosition="below"
      (click)="$event.stopPropagation(); refresh()"
    >
      <mat-icon class="icon icon-button" [svgIcon]="'refresh'"></mat-icon>
    </div>
  </div>

  <mat-app-button
    *ngIf="restartAllBtn.visible"
    class="save-button mr-3"
    [radius]="'semiRound'"
    [backgroundColor]="'blue'"
    [color]="'white'"
    [disabled]="isBtnRestartAllInactive"
    (click)="restartAll($event)"
  >
    {{ restartAllBtn.name | translate }}
  </mat-app-button>

  <app-search-field
    class="input-wrapper"
    [searchValue]="searchInputValue"
    (searchEvent)="onSearchEvent($event)"
    (clearEvent)="onClearEvent($event)"
  >
  </app-search-field>

  <app-dropdown-filter
    [filterFields]="dashboardFilter"
    [currentFilterValues]="currentFilterValues"
    (selectedFilterFields)="selectedFilterFieldsEvent($event)"
  >
  </app-dropdown-filter>
</div>

<div
  *ngIf="isRefreshBtnInactive || isBtnRestartAllInactive"
  class="d-flex align-items-center justify-content-center spinner"
>
  <mat-spinner class="text-center"></mat-spinner>
</div>

<div [class]="!isRefreshBtnInactive || !isBtnRestartAllInactive ? 'table-block' : 'table-block-opacity'">
  <mat-app-table
    [isSorting]="false"
    [changePage]="changePage"
    [totalCount]="totalCount"
    [tableData]="dataSource"
    [isSelectsItem]="true"
    [itemLimit]="itemLimit"
    [isStaticIconButtonInactive]="isRefreshBtnInactive"
    (selectedPage)="selectedPageEvent($event)"
    (sortingData)="sortingDataEvent($event)"
    (selectedItem)="selectedItemEvent($event)"
    (iconButtonEvent)="iconButtonEvent($event)"
    (buttonEvent)="functionForButtonEvent($event)"
    (userReassignEvent)="onUserReassign($event)"
    (declineAdminEvent)="functionForDeclineAdminEvent($event)"
  >
  </mat-app-table>
</div>
