@import "../../../../../theme/styles/common";

.filter-wrapper {
  //padding-right: 10px;
  @extend .filter-container;
}

.table-block {
  height: calc(100% - 62px);
}

.table-block-opacity {
  height: calc(100% - 62px);
  opacity: 50%;
}

.spinner {
  position: absolute;
  width: 80%;
  z-index: 100;
  height: calc(100% - 62px);
}

.slide-wrapper {
  position: absolute;
  left: 10px;
  top: 11px;

  .btn-refresh {
    cursor: pointer;
    color: $light_blue;
    margin-right: 0.5rem;

    .icon {
      height: 20px;
    }
  }
}
