<div class="filter-wrapper">
  <app-search-field
    class="input-wrapper"
    [placeholder]="'Administration.Placeholders.IdPinService'"
    [isLargeField]="true"
    (searchEvent)="onSearchEvent($event)"
    (clearEvent)="onClearEvent($event)"
  >
  </app-search-field>
</div>
<div class="table-block">
  <mat-app-table
    [changePage]="changePage"
    [totalCount]="totalCount"
    [tableData]="dataSource"
    [itemLimit]="itemLimit"
    [isSorting]="false"
    [isSelectsItem]="false"
    (selectedPage)="selectedPageEvent($event)"
  >
    <div class="button-block"></div>
  </mat-app-table>
</div>
