<app-layout>
  <ngx-layout-colm [size]="'small-link'">
    <app-sidebar
      [linkList]="sidebarLinkList"
      [applicationNumber]="applicationNumber"
      [infoBlock]="infoBlock"
      [isInfoBlockFixed]="true"
      [isSidebarContentVisible]="isSideMenuVisible"
      [isQueueApp]="isAppFromQueues"
      [language]="language"
    >
    </app-sidebar>
  </ngx-layout-colm>
  <ngx-layout-colm [size]="'big-link'">
    <div *ngIf="isLoading" class="spinner-box d-flex align-items-center justify-content-center h-100">
      <mat-spinner class="text-center"></mat-spinner>
    </div>
    <div class="wrapper">
      <div class="prev-stage-block">
        <div class="header-title">
          <div class="header-title-icon">
            <span [inlineSVG]="'../../../assets/done.svg'"></span>
          </div>
          <div>
            {{ language === ELanguage.Ge ? stage?.nameGe : stage?.nameRu }}
            <div *ngIf="stage?.id === 'COMPLETED'">
              ({{ language === ELanguage.Ge ? status?.nameGe : status?.nameRu }})
            </div>
          </div>
        </div>

        <div *ngIf="!!progressStages.length && !isLoading" class="steps">
          <app-stepper [barList]="progressStages" [currentStage]="applicationData.stage"> </app-stepper>
        </div>
      </div>

      <mat-tab-group
        *ngIf="!isProgressBarLoading"
        #tabGroup
        class="full-form-tabs"
        (selectedTabChange)="tabChanged($event)"
      >
        <mat-tab *ngIf="tabsState[TabNames.Acceptance].isVisible" [label]="tabTitles[TabNames.Acceptance] | translate">
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-acceptance
                *ngIf="!isLoading"
                [applicationData]="applicationData"
                [accountIssue]="tabsData[TabsDataNames.AccountIssue]"
                [readonlyForm]="tabsState[TabNames.Acceptance].isReadonly"
                [language]="language"
              >
              </ng-acceptance>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab *ngIf="tabsState[TabNames.Paperwork].isVisible" [label]="tabTitles[TabNames.Paperwork] | translate">
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-paperwork
                *ngIf="!isLoading"
                [applicationData]="applicationData"
                [accountIssue]="tabsData[TabsDataNames.AccountIssue]"
                [readonlyForm]="tabsState[TabNames.Paperwork].isReadonly"
                [language]="language"
              >
              </ng-paperwork>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab
          *ngIf="tabsState[TabNames.Verification].isVisible"
          [label]="tabTitles[TabNames.Verification] | translate"
        >
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-verification
                *ngIf="!isLoading"
                [applicationData]="applicationData"
                [language]="language"
                [verificationData]="tabsData[TabsDataNames.VerificationData]"
                [readonlyForm]="tabsState[TabNames.Verification].isReadonly"
              >
              </ng-verification>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab
          *ngIf="tabsState[TabNames.FinalDecision].isVisible"
          [label]="tabTitles[TabNames.FinalDecision] | translate"
        >
          <perfect-scrollbar>
            <div class="mat-tab-body-height padding-bottom-data-form">
              <ng-final-decision
                *ngIf="!isLoading"
                [appDto]="applicationData"
                [integrationInterface]="tabsData[TabsDataNames.IntegrationInterface]"
                [accountIssue]="tabsData[TabsDataNames.AccountIssue]"
                [applicantContactPersons]="tabsData[TabsDataNames.ApplicantContactPersonInfo]"
                [readonlyForm]="tabsState[TabNames.FinalDecision].isReadonly"
                [language]="language"
              >
              </ng-final-decision>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <ng-container>
          <mat-tab *ngIf="tabsState[TabNames.Aml].isVisible" [label]="tabTitles[TabNames.Aml] | translate">
            <perfect-scrollbar>
              <div class="mat-tab-body-height padding-bottom-data-form">
                <ng-aml
                  *ngIf="!isLoading"
                  [appDto]="applicationData"
                  [applicantOperationInfo]="tabsData[TabsDataNames.ApplicantOperationInfo]"
                  [applicantOperationFreqInfo]="tabsData[TabsDataNames.ApplicantOperationFreqInfo]"
                  [applicantFatcaInfo]="tabsData[TabsDataNames.ApplicantFatcaInfo]"
                  [readonlyForm]="tabsState[TabNames.Aml].isReadonly"
                  [language]="language"
                >
                </ng-aml>
              </div>
            </perfect-scrollbar>
          </mat-tab>
        </ng-container>

        <mat-tab
          *ngIf="tabsState[TabNames.DecisionMaking].isVisible && !isArchivist"
          [label]="tabTitles[TabNames.DecisionMaking] | translate"
        >
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-decision-making
                *ngIf="!isLoading"
                [applicationData]="applicationData"
                [applicantIncome]="tabsData[TabsDataNames.ApplicantIncomeInfoDM]"
                [applicantLoan]="tabsData[TabsDataNames.ApplicantLoanInfoDM]"
                [verificationData]="tabsData[TabsDataNames.VerificationData]"
                [isAppInQueues]="isAppFromQueues"
                [readonlyForm]="tabsState[TabNames.DecisionMaking].isReadonly"
                [language]="language"
              ></ng-decision-making>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab *ngIf="!isArchivist" label="{{ tabTitles[TabNames.FullForm] | translate }}">
          <div class="padding-bottom-data-form">
            <ng-data-form
              *ngIf="!isLoading"
              [isMenuVisible]="isSideMenuVisible"
              [applicationData]="applicationData"
              [applicantIncome]="tabsData[TabsDataNames.ApplicantIncomeInfoFF]"
              [applicantLoan]="tabsData[TabsDataNames.ApplicantLoanInfoFF]"
              [managerInfo]="tabsData[TabsDataNames.ManagerInfo]"
              [readonlyForm]="tabsState[TabNames.FullForm].isReadonly"
              [language]="language"
            >
            </ng-data-form>
          </div>
        </mat-tab>

        <mat-tab *ngIf="!isArchivist" [label]="tabTitles[TabNames.Employment] | translate">
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-employment-response
                *ngIf="!isLoading"
                [revenue]="revenue"
                [insideInfoDto]="tabsData[TabsDataNames.PreApprovedDto]"
              >
              </ng-employment-response>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab
          *ngIf="tabsState[TabNames.AcbInfo].isVisible && !isArchivist"
          [label]="tabTitles[TabNames.AcbInfo] | translate"
        >
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-history-response
                *ngIf="!isLoading"
                [integrationInterface]="tabsData[TabsDataNames.IntegrationInterface]"
              ></ng-history-response>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab *ngIf="!isArchivist" [label]="tabTitles[TabNames.Decision] | translate">
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-brms-decision
                *ngIf="!isLoading"
                [appDto]="applicationData"
                [readonlyForm]="tabsState[TabNames.Decision].isReadonly"
                [language]="language"
              ></ng-brms-decision>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab
          *ngIf="tabsState[TabNames.InternalInfo].isVisible && !isArchivist"
          [label]="tabTitles[TabNames.InternalInfo] | translate"
        >
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-inside-info
                *ngIf="!isLoading"
                [integrationInterface]="tabsData[TabsDataNames.IntegrationInterface]"
              ></ng-inside-info>
            </div>
          </perfect-scrollbar>
        </mat-tab>

        <mat-tab *ngIf="tabsState[TabNames.Documents].isVisible" [label]="tabTitles[TabNames.Documents] | translate">
          <perfect-scrollbar>
            <div class="mat-tab-body-height">
              <ng-documents *ngIf="!isLoading" [applicationData]="applicationData" [language]="language">
              </ng-documents>
            </div>
          </perfect-scrollbar>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ngx-layout-colm>
</app-layout>
