@import "../../../../../theme/styles/colors";

::ng-deep {
  .dashboard-tabs {
    //padding-top: 5px;
    //59px: число px, необходимое для определения высоты левого блока, не выходящей за высоту монитора
    // 20px: число px, необходимое для выравнивания футера с кнопками по футеру таблицы из правого блока
    height: 100%;

    .mat-tab-header {
      border-bottom: 1px solid $border-blue;
      .mat-tab-label-container {
        .mat-tab-list {
          .mat-tab-labels {
            .mat-tab-label {
              width: 50%;
              font-weight: 600;
              font-size: 12px;
              color: $bank-gray;
              opacity: 1;
              font-family: Manrope, sans-serif !important;
            }
          }
        }
      }
    }

    .mat-tab-body-wrapper {
      height: 100%;
      padding-top: 15px;
      background-color: $extra_light_blue;

      .mat-tab-body {
        .mat-tab-body-content {
          overflow: hidden;
        }
      }
    }
  }
}
