<div class="add-product-modal-container">
  <span class="close-btn-wrapper" type="" [mat-dialog-close]="'close'">
    <img src="./assets/img/PopupCloseDark.png" alt="Close modal" />
  </span>
  <form [formGroup]="ruleForm">
    <div class="add-product-modal-header">
      <span class="add-product-modal-title">{{ title }}</span>
    </div>
    <div class="add-product-modal-scroll-wrapper  scroll-wrapper">
      <div class="add-product-modal-form-wrapper">
        <ul class="add-product-modal-form-list">
          <li class="add-product-modal-form-item">
            <app-form-field formControlName="id" placeholder="Код правила" type="text"> </app-form-field>
          </li>
          <li class="add-product-modal-form-item">
            <app-form-field formControlName="nameRu" placeholder="Название правила" type="text"> </app-form-field>
          </li>
          <li class="add-product-modal-form-item">
            <app-form-field formControlName="brmsRuleTypeId" placeholder="Тип правила" type="text"> </app-form-field>
          </li>
          <li class="add-product-modal-form-item p-t">
            <mat-app-slide-toggle formControlName="active" [label]="'Активная запись'"> </mat-app-slide-toggle>
          </li>
          <!--<li class="add-product-modal-form-item">-->
          <!--<mat-app-search-select-->
          <!--formControlName="productGroupId"-->
          <!--placeholder="Группа продуктов"-->
          <!--[options]="productGroupList"-->
          <!--class="dropdown-select"-->
          <!--&gt;-->
          <!--</mat-app-search-select>-->
          <!--</li>-->
          <!--<li class="add-product-modal-form-item p-t">-->
          <!--<mat-app-slide-toggle-->
          <!--formControlName="isVisibleForManager"-->
          <!--[label]="'Отображается для Кредитного менеджера'"-->
          <!--&gt;-->
          <!--</mat-app-slide-toggle>-->
          <!--</li>-->
          <!--<li class="add-product-modal-form-item">-->
          <!--<mat-app-search-select-->
          <!--formControlName="brmsRuleGroupId"-->
          <!--placeholder="Группа правил"-->
          <!--[options]="ruleGroupList"-->
          <!--class="dropdown-select"-->
          <!--&gt;-->
          <!--</mat-app-search-select>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
    <div class="add-product-modal-footer footer">
      <div class="buttons-wrapper hard-width-container">
        <div class="edit-button-wrapper" *ngIf="showEditButton && !showSendButton">
          <mat-app-button
            [backgroundColor]="'blue'"
            [color]="'white'"
            [hover]="'blue'"
            [radius]="'semiRound'"
            [className]="'custom-style-edit-button'"
            (clickEvent)="editButtonClick()"
            ><span>Редактировать</span>
          </mat-app-button>
        </div>
        <div class="save-cancel-buttons-wrapper" *ngIf="!showEditButton && !showSendButton">
          <mat-app-button
            [color]="'white'"
            [backgroundColor]="'blue'"
            [border]="true"
            [hover]="'blue'"
            [radius]="'semiRound'"
            (clickEvent)="saveButtonClick()"
            type="'submit'"
            ><span>Сохранить</span>
          </mat-app-button>
          <mat-app-button
            [color]="'gray'"
            [backgroundColor]="'transparent'"
            [border]="true"
            [hover]="'gray'"
            [radius]="'semiRound'"
            [className]="'custom-style-cancel-button'"
            (clickEvent)="cancelButtonClick()"
            type=""
            ><span>Отменить</span></mat-app-button
          >
        </div>
        <div class="send-button-wrapper" *ngIf="showSendButton">
          <mat-app-button
            [backgroundColor]="'blue'"
            [color]="'white'"
            [hover]="'blue'"
            [radius]="'semiRound'"
            type="'submit'"
            (clickEvent)="sendButtonClick()"
            ><span>Отправить</span></mat-app-button
          >
        </div>
      </div>
    </div>
  </form>
</div>
