<form class="form" [formGroup]="form">
  <div class="mb-5">
    <app-layout-for-steps
      [isPanelDescHidden]="true"
      [headerText]="'Verification.CreditInfo'"
      [headerNumb]="1"
      [isNotAccordion]="true"
    >
      <div class="w-100">
        <div class="mt-2">
          <div class="row m-0 p-b">
            <ng-container *ngFor="let control of formConfig">
              <div [ngClass]="control?.class">
                <app-form-field
                  *ngIf="
                    control.type === EInputType.Text ||
                    control.type === EInputType.Number ||
                    control.type === EInputType.PhoneNumber
                  "
                  [formControlName]="control.code"
                  [maxLength]="control.maxLength"
                  [placeholder]="control.placeholder"
                  [readonly]="control?.readonly"
                  [type]="control.type"
                >
                </app-form-field>
                <mat-app-search-select-lazy
                  *ngIf="control.type === EInputType.Select"
                  [formControlName]="control.code"
                  [placeholder]="control.placeholder"
                  [options]="optionsList[control.optionsListName]"
                  [propertyName]="control.propertyName"
                  [language]="language"
                  [valueType]="control.selectEmittedValueType ? control.selectEmittedValueType : ValueType.Id"
                >
                </mat-app-search-select-lazy>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </app-layout-for-steps>

    <app-layout-for-steps
      [isPanelDescHidden]="true"
      [headerText]="'Verification.FinalMatrix'"
      [headerNumb]="2"
      [isNotAccordion]="true"
    >
      <div class="w-100">
        <div class="pb-4">
          <div class="row">
            <div class="col-2">
              <mat-app-slide-toggle
                class="m-b"
                [label]="'FullForm.Placeholder.IsWithRef'"
                (isToggleChecked)="changeIsWithRef($event)"
              >
              </mat-app-slide-toggle>
            </div>
            <div *ngIf="this.isWithRef" class="col-4">
              <mat-app-search-select-lazy
                placeholder="{{ 'ShortForm.ProductType' | translate }}"
                [options]="optionsList['product']"
                [language]="language"
                [required]="false"
                (selectChange)="changeIsWithProduct($event)"
              >
              </mat-app-search-select-lazy>
            </div>
          </div>
          <mat-app-table
            [isSorting]="false"
            [footerIsHide]="true"
            [totalCount]="totalCount"
            [tableData]="finalMatrixData"
            [itemLimit]="itemLimit"
          >
          </mat-app-table>
        </div>
      </div>
    </app-layout-for-steps>

    <app-layout-for-steps
      [isPanelDescHidden]="true"
      [headerText]="'Verification.FinalCreditInfo'"
      [headerNumb]="3"
      [isNotAccordion]="true"
    >
      <div class="w-100">
        <div class="pb-4">
          <mat-app-table
            [isSorting]="false"
            [footerIsHide]="true"
            [totalCount]="totalCount"
            [tableData]="needVerificationCreditInfoData"
            [itemLimit]="itemLimit"
          >
          </mat-app-table>
        </div>
      </div>
    </app-layout-for-steps>

    <app-layout-for-steps
      [isPanelDescHidden]="true"
      [headerText]="'Verification.VerifiedCreditInfo'"
      [headerNumb]="4"
      [isNotAccordion]="true"
    >
      <div class="w-100">
        <div class="mb-4">
          <nv-editable-table
            [canEditRows]="!readonlyForm"
            [canAddRows]="false"
            [fixedHeader]="true"
            [tableHeaders]="verifiedCreditInfoData"
            [tableRows]="verifiedCreditInfo"
            [selectData]="optionsList"
            [language]="language"
            (editedRow)="editedRow($event, VerificationGroupKeys.VerifiedCreditInfo)"
          >
          </nv-editable-table>
        </div>
      </div>
    </app-layout-for-steps>
  </div>

  <app-tabs-footer
    [configSrc]="footerConfigSource"
    [hideButtons]="readonlyForm"
    [buttonsDisabled]="isLoading || isSubmitting"
    [userData]="userData"
    [commentList]="{
      chatManagerVerificatorList: chatManagerVerificatorList
    }"
    [commentsReadonly]="readonlyForm"
    [isNewMessageExists]="isNewMessageExists"
    (footerButtonClick)="onFooterButtonClick($event)"
  ></app-tabs-footer>
</form>
