@import "../../../theme/theme-variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../theme/styles/colors";

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../../assets/background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;

  & > div {
    height: 100%;
  }
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  align-items: center;
  position: absolute;
  left: 0;
  border: none;
  height: 100%;
  width: 596px;
}

.card-logo {
  margin-top: 59px;
}

.name-platform {
  font-size: 10px;
  font-weight: 600;
  color: $cadet-grey;
  font-family: Manrope, sans-serif !important;
}

:host ::ng-deep {
  .set-password-container,
  .login-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .card-title {
      width: 305px;
      height: 63px;
      margin-bottom: 38px;
      font-size: 26px;
      font-weight: 600;
      color: $dark-jungle-green;
      opacity: 0.5;
      text-align: center;
      letter-spacing: -0.01em;
      font-family: Manrope, sans-serif !important;
    }

    form {
      width: 310px;
      margin: 0 auto;
      text-align: center;
    }

    .form-group {
      margin-bottom: 40px;
    }

    .ng-invalid.ng-touched:not(form) {
      //border-left: 4px solid theme-color("danger");
    }

    mat-app-button .custom-button-style {
      width: 180px;
    }

    .help.is-danger.error-color {
      position: relative;
      text-align: left;
      top: -10px;
      margin: 0;
    }
  }
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}

.version {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: $cadet-grey;
}
