@import "src/theme/styles/common";

.wrapper {
  width: 750px;
  height: 800px;
  overflow: hidden;
}

p {
  margin-bottom: 0;
}

.header {
  position: relative;
  margin-bottom: 20px;

  mat-dialog-actions {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;

    mat-app-button[type="button"] {
      appearance: none;
    }
  }
}

.title {
  margin-bottom: 10px;
  padding: 20px 0 0 10px;
  width: calc(100% - 70px);
  font-size: 22px;
  font-weight: 500; //600
  color: $dark-jungle-green;
  text-align: center;
  font-family: "VTB Group Book" !important;
}

.content {
  height: 755px;
  max-height: 755px;
  overflow: hidden;
}
