<div class="info-block">
  <app-layout-for-steps
    [isPanelDescHidden]="true"
    [headerText]="'Информация о принятом решении'"
    [headerNumb]="1"
    [isNotAccordion]="true"
  >
    <div>
      <div class="flex margin-btm">
        <div>
          <p class="title">Решение *</p>
          <p class="text">{{ decision }}</p>
        </div>
        <div class="margin-left" *ngIf="!!disapproveCode">
          <p class="title">Код отсутствия одобрения</p>
          <p class="text">{{ disapproveCode }}</p>
        </div>
        <div class="margin-left" *ngIf="!!viewButtonParams">
          <mat-app-button
            [className]="'ml-2'"
            [size]="'medium'"
            [border]="true"
            [radius]="'semiRound'"
            [backgroundColor]="'white'"
            [color]="'gray'"
            [hover]="'gray'"
            (clickEvent)="viewParams()"
          >
            Показать параметры
          </mat-app-button>
        </div>
      </div>

      <div class="margin-btm">
        <h5>Одобренные условия кредита</h5>
        <mat-app-table
          [isSotring]="false"
          [footerIsHide]="true"
          [totalCount]="totalCount"
          [tableData]="chosenCreditInfoData"
          [itemLimit]="itemLimit"
        >
        </mat-app-table>
      </div>

      <div>
        <h5>Возможные условия кредитования</h5>
        <mat-app-table
          [isSotring]="false"
          [footerIsHide]="true"
          [totalCount]="totalCount"
          [tableData]="possibleCreditInfoData"
          [itemLimit]="itemLimit"
        >
        </mat-app-table>
      </div>
    </div>
  </app-layout-for-steps>
</div>
