@import "../../../../theme/styles/colors";

:host {
  display: flex;
  align-items: center;
  background-color: $munsell;
  border-top: 1px solid #cbcbcb;
  height: 70px;
  margin-top: 10px;
  padding: 0 50px;

  ::ng-deep {
    mat-app-button:not(:first-child) {
      margin-left: 20px !important;
    }
  }
}
