@import "../../../theme/styles/colors";

:host ::ng-deep .invalid-form .form-field-wrapper mat-form-field {
  border: 1px solid $ku-crimson;
}

.notification {
  color: $ku-crimson;
  font-size: 12px;
  font-family: Manrope, sans-serif !important;
}
