@import "../../../../theme/styles/common";

.filter-wrapper {
  @extend .filter-container;
}

.spinner-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
}
