<div class="sidebar-block">
  <div class="sidebar-header" [class.sidebar-scroll]="!!applicationNumber">
    <ng-container *ngIf="!!applicationNumber">
      <mat-app-button
        [className]="'backButtonPadding'"
        [size]="'small'"
        [radius]="'semiRound'"
        [backgroundColor]="'blue'"
        [color]="'white'"
        (clickEvent)="onBack()"
      >
        <span class="header-svg" [inlineSVG]="'./assets/img/arrow.svg'"></span>
      </mat-app-button>
      <span class="title-app-number">{{
          !!infoBlock && !!infoBlock.applicationId ? infoBlock.applicationId : ''
        }}</span>
    </ng-container>
    <ng-container *ngIf="!applicationNumber">{{ title | translate }}</ng-container>
  </div>
  <div class="sidebar-content-block">
    <perfect-scrollbar>
      <div class="sidebar-content" *ngIf="isSidebarContentVisible">
        <a
          *ngFor="let linkObj of linkList; let i = index"
          [routerLink]="[!!applicationNumber ? baseURL : linkObj.link]"
          [fragment]="!!applicationNumber ? linkObj.link : null"
        >
          <div class="linck" [ngClass]="{ active: !!applicationNumber ? activeIndex === i : linkObj.link === URL }">
            {{ linkObj.name | translate }}
            <mat-icon class="icon-arrow" svgIcon="keyboard_arrow_right"></mat-icon>
          </div>
        </a>
      </div>
      <div class="info-block" *ngIf="viewInfo || isInfoBlockFixed">
        <div>
          <p class="param-block-title">{{ 'ApplicationAside.AppNumber' | translate }}</p>
          <p class="param-block-text">{{ infoBlock?.applicationId }}</p>
        </div>
        <div>
          <p class="param-block-title">{{ 'ApplicationAside.AppDate' | translate }}</p>
          <p class="param-block-text">{{ infoBlock?.date | customDate: 'dd-MM-yyyy HH:mm' }}</p>
        </div>
        <div>
          <p class="param-block-title">{{ 'ApplicationAside.BorrowerName' | translate }}</p>
          <p class="param-block-text">{{ infoBlock?.applicant }}</p>
        </div>
        <div>
          <p class="param-block-title">{{ 'ApplicationAside.Source' | translate }}</p>
          <p class="param-block-text">
            {{ language === ELanguage.Am ? infoBlock?.sourceChannel?.nameAm : infoBlock?.sourceChannel?.nameRu }}
          </p>
        </div>
        <div *ngIf="!!infoBlock?.manager">
          <p class="param-block-title">{{ 'ApplicationAside.Designer' | translate }}</p>
          <p class="param-block-text">{{ infoBlock?.manager }}</p>
        </div>
        <div>
          <p class="param-block-title">{{ 'ApplicationAside.Branch' | translate }}</p>
          <p class="param-block-text">
            {{ language === ELanguage.Am ? infoBlock?.branch?.nameAm : infoBlock?.branch?.nameRu }}
          </p>
        </div>
        <div>
          <p class="param-block-title">{{ 'ApplicationAside.ClientCode' | translate }}</p>
          <p class="param-block-text">
            {{ infoBlock?.codeAbs }}
          </p>
        </div>
      </div>

      <div class="info-block error-check" *ngIf="infoBlock?.appReturnErrors?.length">
        <div class="error" *ngFor="let error of infoBlock?.appReturnErrors">
          {{ error[language] }}
          <br />
        </div>
      </div>
    </perfect-scrollbar>
    <div class="footer text-center pl-2">
      <span>© 2023 VTB Armenia - ABLE Platform</span>
    </div>
  </div>
</div>
