@import "../../../theme/styles/common";

.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.dropdown-wrap {
  padding: 5px 0 0 23px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.label {
  width: 100%;
  color: $cadet-grey;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: Manrope, sans-serif !important;
  font-size: 12px;
}

::ng-deep {
  .datepicker-wrap {
    margin-right: 5px;

    mat-app-input-date-picker {
      .input-date-picker-wrapper {
        width: 145px;
      }
    }
  }

  .to-date-block {
    display: flex;

    p {
      margin: 0 5px 0 0;
      padding-top: 5px;
    }

    mat-app-input-date-picker {
      .input-date-picker-wrapper {
        width: 145px;
      }
    }
  }

  .dropdown-select {
    .form-field {
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          .mat-form-field-infix {
            border-top: none;
          }
        }
      }
    }
  }
}

.cancel-icon-button {
  position: relative;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }

  & .mat-icon {
    position: absolute;
    top: 6px;
    left: 10px;
    color: $ku-crimson;
    cursor: pointer;
  }

  &:disabled .mat-icon {
    color: $cadet-grey;
  }
}
