<div formGroupName="dates" class="wrapper">
  <div class="label">{{ label | translate }}</div>

  <div *ngFor="let date of datesInfo; let i = index">
    <div *ngIf="datesInfo.length - 1 !== i || datesInfo.length === 1; else lastBlock" class="datepicker-wrap">
      <mat-app-input-date-picker [formControlName]="date.fcName"></mat-app-input-date-picker>
    </div>
    <ng-template #lastBlock>
      <div class="to-date-block">
        <p>-</p>
        <mat-app-input-date-picker [formControlName]="date.fcName"></mat-app-input-date-picker>
        <button type="button" class="cancel-icon-button" [disabled]="isInitValDate" (click)="clearSelectedField()">
          <mat-icon svgIcon="cancel"></mat-icon>
        </button>
      </div>
    </ng-template>
  </div>
</div>
