@import "../../../../../theme/styles/common";

.filter-wrapper {
  display: flex;
  justify-content: flex-start;
  height: 70px;
  padding-left: 10px;
  @extend .filter-container;
}

.datepicker-wrap {
  width: 250px;
  margin-right: 10px;
}

.p-t {
  padding-top: 6px;
}

.table-block {
  height: calc(100% - 85px);
}
