<div class="sidebar-block">
  <div class="sidebar-header">
    <mat-app-button
      [className]="'backButtonPadding'"
      [size]="'small'"
      [radius]="'semiRound'"
      [backgroundColor]="'blue'"
      [color]="'white'"
      (clickEvent)="onBack()"
    >
      <span class="header-svg" [inlineSVG]="'../../../assets/arrow.svg'"></span>
    </mat-app-button>
  </div>
  <div class="sidebar-content-block">
    <perfect-scrollbar>
      <div class="info-block" *ngIf="isInfoBlockFixed">
        <div>
          <p class="param-block-title">Дата обращения</p>
          <p class="param-block-text">{{ infoBlock?.requestDate | customDate: 'dd-MM-yyyy' }}</p>
        </div>

        <div>
          <p class="param-block-title">Клиент ФИО</p>
          <p class="param-block-text">{{ infoBlock?.fio }}</p>
        </div>
        <div>
          <p class="param-block-title">ФИО менеджера-регистратора</p>
          <p class="param-block-text">{{ infoBlock?.clientManager }}</p>
        </div>

        <div>
          <p class="param-block-title">Филиал</p>
          <p class="param-block-text">{{ infoBlock?.branch?.nameRu }}</p>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
