<div class="main-container">
  <div class="login-box">
    <div class="card col-md-6  mx-auto">
      <h4 class="card-logo text-center">
        <img class="w-50" src="./assets/img/vtb-logo.png" alt="logo" />
      </h4>
      <div class="card-body">
        <ng-content></ng-content>
      </div>
      <div class="login-footer w-100">
        <span class="version col-sm-12 col-md-3 p-0">version: {{ version }}</span>
        <span class="able col-12 col-sm-12 col-md-6 p-0">
          © 2023 VTB Armenia - ABLE Platform
        </span>
        <span class="lang col-sm-12 col-md-3 p-0">
          <nb-icon class="lh-31" icon="globe-outline" pack="eva"></nb-icon>
          <!--(selectedChange)="setLanguage($event)"-->
          <nb-select matRipple class="lang-select" [selected]="currentLanguage" (selectedChange)="setLanguage($event)">
            <nb-option *ngFor="let lang of languages" [value]="lang">
              {{ lang }}
            </nb-option>
          </nb-select>
        </span>
      </div>
    </div>
  </div>
</div>
