<ng-template #spinner>
  <div class="spinner-box spinner-table d-flex align-items-center justify-content-center h-100">
    <mat-spinner class="text-center"></mat-spinner>
  </div>
</ng-template>

<div class="table-block" *ngIf="loading; else spinner">
  <mat-app-table
    [objColNameProps]="objColNameProps"
    [changePage]="changePage"
    [totalCount]="totalCount"
    [tableData]="dataSource"
    [itemLimit]="itemLimit"
    [isSorting]="false"
    [isSelectsItem]="allowSelectItem"
    (selectedItem)="selectedItem($event)"
    (selectedPage)="selectedPageEvent($event)"
  >
    <div class="button-block" *ngIf="allowSelectItem">
      <mat-app-button
        [className]="'mr-2'"
        [size]="'medium'"
        [border]="true"
        [radius]="'semiRound'"
        [backgroundColor]="'white'"
        [color]="'gray'"
        [hover]="'gray'"
        (clickEvent)="openCreateNewDialog()"
      >
        {{ 'Administration.Buttons.AddPrintingForm' | translate }}
      </mat-app-button>
    </div>
  </mat-app-table>
</div>
