@import "../../../../../theme/styles/colors.scss";

.table-block {
  height: calc(100% - 15px);
}

.table-wrap {
  height: calc(100% - 42px);
}

.input-wrapper {
  display: flex;
  justify-content: flex-end;
}

:host ::ng-deep .input-wrap {
  margin: 0 10px 10px 0;
}

.filter-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.slide-wrapper {
  position: absolute;
  left: 10px;
  top: 11px;

  .btn-refresh {
    cursor: pointer;
    color: $light_blue;
    margin-right: 0.5rem;

    .icon {
      height: 20px;
    }
  }
}
