@import "../../../theme/styles/colors";
@import "../../../theme/styles/mixins";
@import "../../../theme/styles/tab-style-mixin";

@include tab-style;

h5 {
  font-weight: 600;
  font-size: 14px;
  color: $bank-gray;
  font-family: Manrope, sans-serif !important;
}

footer {
  bottom: 0;
  display: flex;
  height: 64px;
  position: fixed;
  z-index: 999;
  width: calc(100% - 20px);
  padding-top: 8px;
  padding-left: 25px;
  background: $munsell;
}

.stepper-block {
  padding: 0 40px;
}

.fix {
  position: fixed;
  top: 62px;
  z-index: 998;
  width: 100%;
}

.data-form-block {
  padding: 0 0;
}

.attach-docs-content {
  padding-top: 25px;
  margin-bottom: 50px;

  .text {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 600;
    color: $ash-grey;
    font-family: Manrope, sans-serif !important;
  }
}

.container-avatar {
  @include container-avatar;
}

.avatar-upload {
  @include avatar-upload;
}

.avatar-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.income-expense {
  padding: 20px 0 0 20px;

  .text {
    font-size: 12px;
    font-weight: 600;
    color: $outer-space-triple;
    font-family: Manrope, sans-serif !important;
  }

  .amount {
    font-size: 14px;
    font-weight: 600;
    color: $dark-jungle-green;
    font-family: Manrope, sans-serif !important;
  }
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .flex-colm {
    width: calc(50% - 5px);
  }
}

.margin-bottom {
  margin-bottom: 10px;
}

.comment-wrap {
  position: relative;

  .icon {
    position: absolute;
    top: -5px;
    right: -8px;
  }
}

:host ::ng-deep mat-app-button .attach-button {
  margin-bottom: 20px;

  .mat-button-wrapper {
    .icon {
      margin-right: 10px;

      svg {
        margin-top: -8px;
      }
    }
  }

  &:hover {
    .mat-button-wrapper {
      .icon {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }
}

.sub-header {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 12px;
  font-family: Manrope, sans-serif !important;
}

.no-info {
  font-size: 14px;
  margin-bottom: 30px;
  font-family: Manrope, sans-serif !important;
}

.top-line {
  min-height: 10px;
  z-index: 998;
  position: fixed;
  top: 52px;
  height: 10px;
  left: 335px;
  width: 100%;
  background-color: $snow;
}

.margin-right {
  margin-right: 8px;
}

.display-none {
  display: none;
}

.error-message {
  color: $ku-crimson;
  font-size: 12px;
  font-family: Manrope, sans-serif !important;
}

.disabled-block {
  pointer-events: none;
  opacity: 0.4;
}

.credit-info-green {
  background-color: $credit-info-green;
}

.credit-info-red {
  background-color: $credit-info-red;
}

// dropdown arrow removing:
.dropdown-toggle::after {
  display: none;
}

:host .dropdown-menu.show {
  top: -13px !important;
  left: -160px !important;
  font-size: 14px;
  font-weight: 600;
  color: $dark-jungle-green;
  font-family: Manrope, sans-serif !important;
}

.dropdown-item {
  padding: 12px 16px;
}

:host ::ng-deep mat-app-button .paddingBottom {
  padding-bottom: 3px;
}

.spinner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  &.blackout {
    background: rgba($outer-space, 0.05);
  }
}
