<div class="modal-content">
  <span class="close-modal" type="" [mat-dialog-close]="'close'"
    ><img src="../../../../assets/PopupCloseDark.png" alt=""
  /></span>

  <label class="label">{{ printFormTitle | translate }}</label>
  <mat-radio-group aria-labelledby="radio-group-label" class="radio-group d-flex flex-column">
    <mat-radio-button
      class="radio-button"
      *ngFor="let printForm of printFormsList"
      [value]="printForm.nameRu"
      (change)="getSigners(printForm)"
    >
      {{ data.language === ELanguage.Ge ? printForm?.nameGe : printForm?.nameRu }}
    </mat-radio-button>
  </mat-radio-group>

  <ng-container *ngIf="isShowSignersList">
    <label class="label">{{ signerTitle }}</label>
    <mat-radio-group
      aria-labelledby="radio-group-label"
      class="radio-group d-flex flex-column"
      [(ngModel)]="currentSigner"
      (change)="changeBtnStatus()"
    >
      <mat-radio-button class="radio-button" *ngFor="let signer of signersList" [value]="signer">
        {{ signer?.signerPositionRu }} - {{ signer?.signerNameRu }}{{ signer.principalStr }}
      </mat-radio-button>
    </mat-radio-group>
  </ng-container>

  <mat-app-button
    [type]="'button'"
    [className]="'mt-2'"
    [size]="'big'"
    [disabled]="downloadBtnDisabled"
    [radius]="'semiRound'"
    [backgroundColor]="'transparent'"
    [border]="true"
    [hover]="'gray'"
    [color]="'gray'"
    (clickEvent)="onPrintFormDownload()"
  >
    <span [inlineSVG]="'../../../assets/download.svg'" class="icon mr-2"></span>
    {{ downloadBtnName | translate}}
  </mat-app-button>
</div>
