@import "../../../theme/styles/colors.scss";
@import "../../../theme/theme-variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 5%;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);

  .card-operation {
    height: 100px;
    width: 31.3%;
    margin: 1%;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease all;

    @include media-breakpoint-down(lg) {
      width: 48%;
    }
    @include media-breakpoint-down(md) {
      width: 98%;
    }

    &--enable {
      cursor: pointer;
      color: $bank-gray;

      &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
      }
    }

    &--disabled {
      color: $bank-light-gray;
    }
  }
}
