@import "src/theme/styles/common";

:host ::ng-deep .custom-style-close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 1px solid $light-gray;
  z-index: 1;
  &:hover {
    svg path {
      fill: $white;
    }
  }
  .close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

:host {
  .scroll-wrapper {
    padding-bottom: 80px;
  }
}

.footer {
  background-color: $munsell;
  border-top: 1px solid #cbcbcb;
  height: 70px;
  margin-top: 20px;
  padding-left: 25px;
  .buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 280px;
  }
}
