<div class="table-block">
  <mat-app-table
    [objColNameProps]="objColNameProps"
    [changePage]="changePage"
    [totalCount]="totalCount"
    [tableData]="dataSource"
    [itemLimit]="itemLimit"
    [isSorting]="false"
    [isSelectsItem]="allowSelectItem"
    (selectedItem)="selectedItem($event)"
    (selectedPage)="selectedPageEvent($event)"
  >
    <div class="button-block" *ngIf="allowSelectItem">
      <mat-app-button
        [className]="'mr-2'"
        [size]="'medium'"
        [border]="true"
        [radius]="'semiRound'"
        [backgroundColor]="'white'"
        [color]="'gray'"
        [hover]="'gray'"
        (clickEvent)="openCreateNewDialog()"
      >
        {{ 'Administration.Buttons.AddCommission' | translate }}
      </mat-app-button>
    </div>
  </mat-app-table>
</div>
