@import "src/theme/styles/common";

.administration-base-modal-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  form {
    height: 100%;
  }
}

.administration-base-modal-header {
  align-items: center;
  text-align: center;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  height: 12%;
}

.administration-base-modal-title {
  font-size: 1.25rem;
  color: $dark-jungle-green;
  margin-top: 16px;
  letter-spacing: -0.01em;
}

.col-grid-12 {
  grid-column: 1 / -1;
}

.activate-deactivate-button-wrapper ::ng-deep {
  display: flex;

  .custom-style-activate-button,
  .custom-style-activate-button:hover {
    background: rgba(138, 219, 59, 1);
  }

  .custom-style-deactivate-button,
  .custom-style-deactivate-button:hover {
    margin-left: 15px;
    background: red;
  }
}

.administration-base-modal-form-wrapper {
  height: 78%;
}

.grid-three-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1.5rem;

  & > .full-row {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.grid-four-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1.5rem;

  & > .full-row {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

.grid-two-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1.5rem;
}

.administration-base-modal-footer {
  background-color: $munsell;
  border-top: 1px solid #cbcbcb;
  height: 8%;
  display: flex;
  align-items: center;
  padding-left: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .buttons-wrapper.hard-width-container {
    width: auto;
    display: flex;
  }

  .save-cancel-buttons-wrapper {
    display: flex;
    width: 100%;
    padding-left: 10px;
    justify-content: space-around;
  }

  .edit-button-wrapper {
    padding-left: 25px;
  }
}

.date-wrapper {
  padding-left: 1rem;
  background-color: $extra_light_gray;
  border-radius: 2px;
  font-weight: 500; //600
  height: 42px;
}

.date-placeholder {
  font-size: 10px;
  font-weight: 500; //600
  color: $cadet-grey;
  margin-bottom: 0.25rem;
}

.date-value {
  font-size: 12px;
}

.p-t {
  padding-top: 16px;
}

.mr-10 {
  margin-right: 10%;
}

.mr-20 {
  margin-right: 20%;
}

.mr-30 {
  margin-right: 30%;
}

.mr-40 {
  margin-right: 40%;
}

.mr-50 {
  margin-right: 50%;
}

.mr-60 {
  margin-right: 60%;
}

.mr-70 {
  margin-right: 70%;
}

.p-b {
  padding-bottom: 20px;
}

.product-channels-list {
  max-height: 15rem;
  .title {
    font-size: 12px;
    color: $outer-space-triple;
    font-weight: 500; //600
    padding-bottom: 10px;
    font-family: "VTB Group Book" !important;
  }

  .default-select {
    font-size: 12px;
    font-weight: 500; //600
    color: #9f9d9d;
    cursor: pointer;
    margin-left: -3px;
    font-family: "VTB Group Book" !important;
  }
}

.items {
  background: $munsell;
  border-radius: 10px;
  margin-top: 10px;

  .item {
    padding: 10px;
    display: flex;
    font-size: 14px;
    font-weight: 500; //600
    justify-content: space-between;
    font-family: "VTB Group Book" !important;

    .clear {
      padding-right: 5px;
      cursor: pointer;
      color: #0054a6;
      font-size: 12px;
      font-weight: 400;
      font-family: "VTB Group Light" !important;

      &:hover {
        color: #d3d8de;
      }
    }
  }
}

.spinner-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
  height: 100%;
}
