@import "../../../../../theme/styles/common";
@import "../../../../shared/modals/close-modal-btn";

.add-selected-condition-modal-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  form {
    height: 100%;
  }
}

.add-selected-condition-modal-scroll-wrapper {
  height: calc(100% - 111px);
}

.close-btn-wrapper {
  margin-right: 16px;
  display: flex;
  justify-content: flex-end;
}

.add-selected-condition-modal-header {
  text-align: center;
  margin-right: 50px;
  padding-top: 40px;
  padding-bottom: 10px;
  span {
    display: inline-block;
    height: 22px;
    margin: 0;
  }
}

.add-selected-condition-modal-title {
  font-size: 1.75rem;
  color: $dark-jungle-green;
  margin-top: 16px;
  letter-spacing: -0.01em;
}

.add-selected-condition-modal-form-wrapper {
  height: 100%;
  //width: calc(100% - 15px);
  padding-right: 50px;

  .add-selected-condition-modal-form-list {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
  }

  .add-selected-condition-modal-form-item {
    list-style-type: none;
  }
}

.add-selected-condition-modal-footer {
  background-color: $munsell;
  border-top: 1px solid #cbcbcb;
  height: 80px;
  margin-top: 20px;
  padding-left: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .buttons-wrapper.hard-width-container {
    width: 370px;
  }
  .save-cancel-buttons-wrapper {
    display: flex;
    width: 100%;
    padding-left: 10px;
    justify-content: space-around;
  }
  .edit-button-wrapper {
    padding-left: 25px;
  }
  .send-button-wrapper {
    padding-left: 20px;
  }
}

:host ::ng-deep {
  .close-modal {
    margin-left: 2px;

    svg {
      fill: $cadet-grey;
      width: 20px;
      height: 20px;
    }
  }
}
