<form [formGroup]="creditAppForm">
  <div class="">
    <div class="">
      <div class="w-100">
        <div class="row m-0 p-b">
          <ng-container *ngFor="let control of formConfig">
            <div class="header-block mt-2 mb-2" *appFormSubTitle="[control.code, formSubTitles]">
              <div *ngIf="formSubTitles[control.code] && control.isVisible">
                {{ formSubTitles[control.code] | translate }}
              </div>
            </div>
            <div [ngClass]="control?.class">
              <app-form-field
                *ngIf="(control.type === EInputType.Text || control.type === EInputType.Number) && control.isVisible"
                [formControlName]="control.code"
                [placeholder]="control.placeholder"
                [maxLength]="control.maxLength"
                [required]="control.required"
                (inputOnBlur)="validationF.click()"
                [type]="control.type"
                [pattern]="control.pattern"
                (input)="control.code === 'socCardPin' ? onSocCardInput($event) : null"
              >
              </app-form-field>

              <app-form-field
                *ngIf="control.type === EInputType.PhoneNumber && control.isVisible === true"
                [formControlName]="control.code"
                [placeholder]="control.placeholder"
                [maxLength]="control.maxLength"
                [required]="control.required"
                [type]="control.type"
                [prefix]="phonePrefix"
                [phoneMask]="phoneMask"
              >
              </app-form-field>

              <mat-app-search-select-lazy
                *ngIf="control.type === EInputType.Select && control.isVisible === true"
                [formControlName]="control.code"
                [placeholder]="control.placeholder"
                [options]="optionsList[control.optionsListName]"
                [propertyName]="control?.propertyName"
                [language]="language"
                [valueType]="control.selectEmittedValueType || ValueType.Id"
                [required]="control.required"
                [allowEmptyValue]="control.allowEmptyValue"
              >
              </mat-app-search-select-lazy>
            </div>
          </ng-container>

          <ngx-otp *ngIf="!this.isPreliminaryRequest"
            (triggerValidation)="validationF.click()"
            (otpTypeEvent)="otpTypeEvent($event)"
            [blockOtp]="blockOtpEmit"
            [isAbsLoading]="loadingABSInfo"
            [shortForm]="this.creditAppForm"
            (otpValidationEvent)="otpValidationEvent($event)"
            (emailSendEvent$)="emailSendEvent($event)"
            (smsSendEvent$)="smsSendEvent($event)"
          ></ngx-otp>

          <button #validationF [hidden]="true" type="submit"></button>

          <div class="col-12">
            <mat-app-button
              [type]="'submit'"
              [radius]="'semiRound'"
              [backgroundColor]="'blue'"
              [color]="'white'"
              class="max-w-btn"
              [disabled]="isSearchButtonDisabled"
              (clickEvent)="getPreApprovedCredit()"
            >
              {{ 'Buttons.SearchPreApproved' | translate }}
            </mat-app-button>
          </div>

          <div class="last-step-form">
            <ng-container *ngFor="let control of formConfig">
              <ng-container
                *ngIf="control.code !== 'agreement' && control.type === EInputType.Checkbox && control.isVisible"
              >
                <div [ngClass]="control?.class">
                  <mat-app-slide-toggle
                    class="m-b"
                    [labelPosition]="control.labelPosition"
                    [formControlName]="control.code"
                    [label]="control.placeholder"
                  >
                  </mat-app-slide-toggle>
                </div>
              </ng-container>

              <ng-container
                *ngIf="
                  isOtpPrintingType &&
                  control.code === 'agreement' &&
                  control.isVisible &&
                  control.type === EInputType.Checkbox
                "
              >
                <div *ngIf="control.code === 'agreement' && control.isVisible" class="button print-consent">
                  <mat-app-button
                    [type]="'submit'"
                    [radius]="'semiRound'"
                    [backgroundColor]="'blue'"
                    [color]="'white'"
                    [disabled]="isLoading"
                    (clickEvent)="getFilledAgreement()"
                    >{{ 'Buttons.PrintConsent' | translate }}
                  </mat-app-button>

                  <mat-app-slide-toggle
                    class="m-b"
                    *ngIf="control.type === EInputType.Checkbox && control.isVisible"
                    [labelPosition]="control.labelPosition"
                    [formControlName]="control.code"
                    [label]="control.placeholder | translate"
                  >
                  </mat-app-slide-toggle>
                </div>
              </ng-container>
            </ng-container>

            <div class="col-12  mt-2 mb-2" [hidden]="!isOtpPrintingType">
              <app-file-downloader
                [disableUpload]="!getIsAgreementSigned"
                [accept]="acceptAgreement"
                *ngIf="isUploadFileAgreement && getIsAgreementSigned"
                [showError]="fileAgreementError"
                (fileLoadedEvent)="uploadFile($event)"
                titleForPreview="ShortForm.AttachAgreementFile"
              ></app-file-downloader>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <br *ngIf="!this.isPreliminaryRequest"/>
    <div class="row" *ngIf="!this.isPreliminaryRequest">
      <div class=" biometric-btn-container">
        <div class="btn-biometric">
          <mat-app-button
            [radius]="'semiRound'"
            [backgroundColor]="'blue'"
            [color]="'white'"
            [border]="true"
            [hover]="null"
            [disabled]="isLoading || !isCanCreateApp || biometricDisabled"
            (clickEvent)="openBiometricModal()"
          >
            {{ 'ShortForm.PassBiometry' | translate }}
          </mat-app-button>
        </div>

        <div class="check-biometric-container">
          <ng-container *ngIf="biometricPassed; else biometricInvalid">
            <mat-icon class="icon icon-check" svgIcon="check"></mat-icon>
          </ng-container>

          <ng-template #biometricInvalid>
            <mat-icon class="icon icon-close" svgIcon="cancel"></mat-icon>
          </ng-template>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class=" col-12">
        <mat-app-button
          [type]="'submit'"
          [radius]="'semiRound'"
          [backgroundColor]="'blue'"
          [color]="'white'"
          class="max-w-btn"
          (clickEvent)="showInfoBiometric()"
          [disabled]="isLoading || !isCanCreateApp || this.isFileAgreementEmpty"
        >
          {{ 'Buttons.CreateRequest' | translate }}
        </mat-app-button>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-12">
        <mat-app-button
          [radius]="'semiRound'"
          [backgroundColor]="'transparent'"
          [color]="'gray'"
          [border]="true"
          [hover]="null"
          class="max-w-btn"
          (clickEvent)="cancelApp()"
        >
          {{ 'Buttons.Cancel' | translate }}
        </mat-app-button>
      </div>
    </div>

    <br /><br />
  </div>

  <div class="mat-spinner-background" *ngIf="isDownload">
    <mat-spinner></mat-spinner>
  </div>
</form>

<!--<div *ngIf="src">-->
<!--<img [src]="src" width="10%" height="10%"/>-->
<!--</div>-->
