@import "../../../../theme/styles/colors";

.ng2-smart-pagination {
  display: inline-flex;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  font-family: Manrope, sans-serif !important;

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .ng2-smart-page-item {
    display: inline;
  }
}

.text-size-min {
  font-size: 9px;
}

.text-size-mid {
  font-size: 10px;
}

nav.ng2-smart-pagination-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  margin-right: 20px;

  .ng2-smart-pagination {
    display: flex;
    padding: 0;

    .page-item {
      height: 31px;
    }

    .page-item-number {
      width: 31px;
    }

    .page-item-string {
      width: 30px;
    }

    .page-item.disabled,
    .page-item.disabled:focus,
    .page-item.disabled:hover {
      background-color: $cadet-grey;
    }
  }

  .pagination {
    border: none;
    padding-left: 0;

    li {
      border: 1px solid $cadet-grey;
      border-radius: 7px;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: $cadet-grey;
        color: #fff;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }

      a,
      > span {
        background: transparent;
        color: $cadet-grey;
        padding: 0;
        line-height: 31px;
        border: none;

        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }

      &.active {
        &,
        &:hover,
        &:focus {
          background-color: $blue;
          border-color: $blue;
          & > span {
            color: #fff;
          }
        }
      }
    }
  }
}
