<div class="input-wrap" [ngClass]="{ 'input-wrap--large': isLargeField }">
  <mat-icon class="search-icon" svgIcon="search"></mat-icon>
  <input #searchInput type="text" placeholder="{{ placeholder | translate }}" />

  <div class="search-button">
    <mat-icon class="clear-btn" svgIcon="cancel" (click)="onClearBtnClick(searchInput.value); searchInput.value = ''">
    </mat-icon>

    <mat-app-button
      [type]="'button'"
      [radius]="'semiRound'"
      [backgroundColor]="'blue'"
      [color]="'white'"
      [size]="'small'"
      (clickEvent)="onSearchClick(searchInput.value)"
      >{{ 'Buttons.Find' | translate }}
    </mat-app-button>
  </div>
</div>
