<app-main-container>
  <div class="set-password-container">
    <h4 class="card-title  text-center">
      Придумайте свой собственный пароль
    </h4>
    <form (ngSubmit)="savePassword()" [formGroup]="setPasswordForm" novalidate>
      <div class="form-group">
        <label class="d-block">
          <app-form-field [formControlName]="'newPassword'" [type]="'password'" [placeholder]="'Новый пароль'">
          </app-form-field>
        </label>
        <label class="d-block">
          <app-form-field
            [formControlName]="'newPasswordAgain'"
            [type]="'password'"
            [placeholder]="'Новый пароль еще раз'"
          >
          </app-form-field>
        </label>
      </div>
      <mat-app-button
        [type]="'submit'"
        [radius]="'semiRound'"
        [color]="'white'"
        [backgroundColor]="'blue'"
        [size]="'medium'"
        [className]="'custom-button-style'"
        (clickEvent)="savePassword()"
        [disabled]="setPasswordForm.invalid || isLoading"
      >
        <em class="fas fa-cog fa-spin" [hidden]="!isLoading"></em>
        <span translate>Сохранить</span>
      </mat-app-button>
    </form>
  </div>
</app-main-container>
