<form class="form" [formGroup]="fullForm">
  <div class="data-form-block">
    <app-layout-for-steps
      id="credit-info"
      formGroupName="creditInfo"
      [isPanelDescHidden]="true"
      [headerText]="'Запрошенные условия кредита'"
      [headerNumb]="1"
      [isNotAccordion]="true"
    >
      <div class="w-100 mt-2">
        <div class="row m-0">
          <div class="col">
            <mat-app-search-select
              formControlName="productId"
              placeholder="Вид продукта *"
              [options]="productCategories"
            >
            </mat-app-search-select>
          </div>
          <div class="col">
            <app-form-field formControlName="creditAmount" placeholder="Сумма кредита *" type="number">
            </app-form-field>
          </div>
          <div class="col">
            <mat-app-search-select
              formControlName="dirCurrencyId"
              placeholder="Валюта *"
              [options]="currencies"
              [propertyName]="'code'"
            >
            </mat-app-search-select>
          </div>
          <div class="col">
            <app-form-field formControlName="creditTerm" placeholder="Срок кредита *" type="number"> </app-form-field>
          </div>
        </div>
      </div>
    </app-layout-for-steps>

    <app-layout-for-steps
      id="applicant-info"
      formGroupName="applicant"
      [isPanelDescHidden]="true"
      [headerText]="'Персональные данные'"
      [headerNumb]="2"
      [isNotAccordion]="true"
    >
      <div class="w-100">
        <div class="row m-0">
          <div class="col">
            <div class="container-avatar">
              <div class="avatar-upload">
                <div class="avatar-preview view">
                  <div [style.backgroundImage]="'url(data:image/jpeg;base64,' + applicantPhotoInfo.photo + ')'"></div>
                </div>
              </div>
              <p class="font-weight-bold">Фото</p>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <app-form-field formControlName="lastName" placeholder="Фамилия *" type="text"></app-form-field>
          </div>
          <div class="col">
            <app-form-field formControlName="firstName" placeholder="Имя *" type="text"></app-form-field>
          </div>
          <div class="col">
            <app-form-field formControlName="middleName" placeholder="Отчество *" type="text"></app-form-field>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <app-date-picker formControlName="birthDate" placeholder="Дата рождения *"></app-date-picker>
          </div>
          <div class="col">
            <app-form-field formControlName="birthPlace" placeholder="Место рождения *" type="text"></app-form-field>
          </div>
          <div class="col">
            <mat-app-search-select formControlName="genderId" placeholder="Пол *" [options]="gender">
            </mat-app-search-select>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <mat-app-search-select formControlName="citizenshipId" placeholder="Гражданство *" [options]="countries">
            </mat-app-search-select>
          </div>
          <div class="col">
            <mat-app-search-select
              formControlName="maritalStatusId"
              placeholder="Семейный статус *"
              [options]="maritalStatuses"
            >
            </mat-app-search-select>
          </div>
          <div class="col">
            <app-form-field formControlName="email" placeholder="Email" type="text"></app-form-field>
          </div>
        </div>
      </div>
    </app-layout-for-steps>

    <app-layout-for-steps
      id="document"
      formGroupName="identityCard"
      [isPanelDescHidden]="true"
      [headerText]="'Документ, удостоверяющий личность'"
      [headerNumb]="3"
      [isNotAccordion]="true"
    >
      <div class="col-8 p-0">
        <div class="row m-0">
          <div class="col">
            <app-form-field formControlName="series" placeholder="Серия *" type="text"></app-form-field>
          </div>
          <div class="col">
            <app-form-field formControlName="number" placeholder="Номер документа *" type="text"></app-form-field>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <mat-app-search-select
              formControlName="passportType"
              placeholder="Тип документа"
              [options]="passportTypes"
              [propertyName]="'name'"
            >
            </mat-app-search-select>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <app-form-field formControlName="pin" placeholder="PIN *" type="text"></app-form-field>
          </div>
          <div class="col">
            <app-form-field formControlName="issuedBy" placeholder="Документ выдан: *" type="text"> </app-form-field>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <app-date-picker
              formControlName="issueDate"
              [minDate]="fullForm.get('applicant').get('birthDate').value"
              [maxDate]="maxIssueDate"
              placeholder="Дата выдачи *"
            >
            </app-date-picker>
          </div>
          <div class="col">
            <app-date-picker
              formControlName="validityDate"
              [minDate]="fullForm.get('identityCard').get('issueDate').value"
              placeholder="Годен до: *"
            >
            </app-date-picker>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container-avatar">
          <div class="avatar-upload">
            <div class="avatar-preview avatar-preview-signature view">
              <div
                id="image-preview"
                [style.backgroundImage]="
                  'url(data:image/jpeg;base64,' + fullForm.get('identityCard').get('signature').value + ')'
                "
              ></div>
            </div>
          </div>
          <p class="font-weight-bold m-0">Подпись</p>
        </div>
      </div>
    </app-layout-for-steps>

    <app-layout-for-steps
      id="contact-info"
      formGroupName="contactDetails"
      [isPanelDescHidden]="true"
      [headerText]="'Адрес и телефон'"
      [headerNumb]="4"
      [isNotAccordion]="true"
    >
      <div class="w-100">
        <div class="row m-0">
          <div class="col">
            <app-form-field
              formControlName="mobilePhone"
              prefix="+"
              placeholder="Мобильный телефон *"
              type="phoneNumber"
            >
            </app-form-field>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <app-form-field formControlName="regAddress" placeholder="Адрес регистрации *" type="text"></app-form-field>
          </div>
        </div>
        <div class="row m-2">
          <div class="col mt-2">
            <mat-app-slide-toggle formControlName="isRealEqFactAddress" [label]="'Проживает по месту регистрации'">
            </mat-app-slide-toggle>
          </div>
        </div>
        <div class="row m-0" [ngClass]="{ 'display-none': isFactAdressDisabled ? isFactAdressDisabled : false }">
          <div class="col">
            <app-form-field
              formControlName="factAddress"
              placeholder="Адрес фактического места жительства *"
              type="text"
            ></app-form-field>
          </div>
        </div>
      </div>
    </app-layout-for-steps>

    <app-layout-for-steps
      id="employments-info"
      formGroupName="selfEmployment"
      [isPanelDescHidden]="true"
      [headerText]="'Сведения о деятельности'"
      [headerNumb]="5"
      [isNotAccordion]="true"
    >
      <div class="w-100">
        <div class="row m-0">
          <div class="col">
            <app-form-field formControlName="inn" placeholder="ИНН *" type="text"></app-form-field>
          </div>
        </div>

        <div class="row m-0">
          <div class="col">
            <mat-app-search-select
              formControlName="companyActivityTypeId"
              placeholder="Сфера деятельности"
              [options]="companyActivityTypes"
            >
            </mat-app-search-select>
          </div>
        </div>

        <div class="row m-0">
          <div class="col">
            <app-form-field
              formControlName="legalAddress"
              placeholder="Юридический адрес *"
              type="text"
            ></app-form-field>
          </div>
        </div>

        <div class="row m-0">
          <div class="col">
            <mat-app-search-select formControlName="dirInnTypeId" placeholder="Тип *" [options]="innTypeList">
            </mat-app-search-select>
          </div>
          <div class="col">
            <mat-app-search-select formControlName="dirInnStatusId" placeholder="Статус ИНН " [options]="innStatusList">
            </mat-app-search-select>
          </div>
        </div>

        <div class="row m-0">
          <div class="col">
            <app-date-picker formControlName="created" [maxDate]="newDate" placeholder="Дата создания *">
            </app-date-picker>
          </div>
          <div class="col">
            <app-date-picker
              formControlName="updated"
              [maxDate]="newDate"
              placeholder="Дата последнего изменения данных компании"
            >
            </app-date-picker>
          </div>
        </div>
        <div class="row m-0">
          <div class="col">
            <app-form-field
              formControlName="repLastName"
              placeholder="Фамилия законного представителя *"
              type="text"
            ></app-form-field>
          </div>
          <div class="col">
            <app-form-field
              formControlName="repFirstName"
              placeholder="Имя законного представителя *"
              type="text"
            ></app-form-field>
          </div>
          <div class="col">
            <app-form-field
              formControlName="repMiddleName"
              placeholder="Отчество законного представителя *"
              type="text"
            ></app-form-field>
          </div>
        </div>
      </div>
    </app-layout-for-steps>

    <app-layout-for-steps
      id="credit-details"
      [isPanelDescHidden]="true"
      [headerText]="'Информация об обязательствах кредитного характера'"
      [headerNumb]="6"
      [isNotAccordion]="true"
    >
      <div class="w-100">
        <div>
          <mat-app-table
            [isSotring]="false"
            [footerIsHide]="true"
            [totalCount]="totalCount"
            [tableData]="activeCreditInfoData"
            [itemLimit]="itemLimit"
          >
          </mat-app-table>
        </div>
      </div>
    </app-layout-for-steps>

    <app-layout-for-steps
      id="guarantee"
      [isPanelDescHidden]="true"
      [headerText]="'Обязательства, по которым клиент является поручителем'"
      [headerNumb]="7"
      [isNotAccordion]="true"
    >
      <div class="w-100">
        <div>
          <mat-app-table
            [isSotring]="false"
            [footerIsHide]="true"
            [totalCount]="totalCount"
            [tableData]="guaranteeInfoData"
            [itemLimit]="itemLimit"
          >
          </mat-app-table>
        </div>
      </div>
    </app-layout-for-steps>

    <div class="row m-0">
      <div class="col-12" formGroupName="applicant">
        <app-form-field formControlName="comment" placeholder="Комментарий" type="text"> </app-form-field>
      </div>
    </div>
  </div>

  <app-tabs-footer
    [configSrc]="footerConfigSource"
    [hideButtons]="readonlyForm"
    [buttonsDisabled]="isLoading"
    [isDeclineRoleAvailable]="isCancelRoleAvail"
    [userData]="userData"
    [commentList]="{
      chatUnderManagerList: chatUnderManagerList
    }"
    [commentsReadonly]="readonlyForm"
    [isNewMessageExists]="isNewMessageExists"
    (footerButtonClick)="onFooterButtonClick($event)"
  ></app-tabs-footer>
</form>
