<!--[title]="'EnterPersData.EnterPersData' | translate"-->
<!--[loading]="loading"-->
<app-modal-view [title]="'BRMSDecision.Titles.SCORING_PARAMS' | translate">
  <mat-tab-group (selectedTabChange)="onTabSelect($event)">
    <mat-tab [label]="tab.name" *ngFor="let tab of tabs">
      <ng-container *ngTemplateOutlet="scoring"></ng-container>
    </mat-tab>
  </mat-tab-group>

  <ng-template #scoring>
    <div class="sroting-info">
      <form [formGroup]="brmsForm">
        <app-form-field formControlName="score" [placeholder]="'BRMSDecision.Placeholders.Score'" type="number">
        </app-form-field>
        <app-form-field
          formControlName="probabilityOfDefault"
          [placeholder]="'BRMSDecision.Placeholders.ProbabilityOfDefault'"
          type="number"
        >
        </app-form-field>
        <app-form-field formControlName="riskGrade" [placeholder]="'BRMSDecision.Placeholders.RiskGrade'" type="text">
        </app-form-field>

        <h6 class="mt-2">{{ 'BRMSDecision.Titles.SCORING_PARAMS' | translate }}</h6>
        <div class="p-b">
          <mat-app-table
            [isSorting]="false"
            [footerIsHide]="true"
            [totalCount]="totalCount"
            [tableData]="scoringFactorsColmTableData"
            [itemLimit]="itemLimit"
          >
          </mat-app-table>
        </div>

        <!--<h6 class="mt-2">{{ 'BRMSDecision.TableTitles.ListOfScoringAttributes' | translate }}</h6>-->
        <!--<div class="p-b">-->
        <!--<mat-app-table-->
        <!--[isSorting]="false"-->
        <!--[footerIsHide]="true"-->
        <!--[totalCount]="totalCount"-->
        <!--[tableData]="scoringAttributesColmTableData"-->
        <!--[itemLimit]="itemLimit"-->
        <!--&gt;-->
        <!--</mat-app-table>-->
        <!--</div>-->

        <!--    <app-form-field formControlName="segment" placeholder="Сегмент" type="text"> </app-form-field>-->
        <!--    <app-form-field formControlName="segmentGroup" placeholder="Сегментная группа" type="text"> </app-form-field>-->
        <!--    <app-form-field formControlName="dti" placeholder="Входящий DTI" type="number"> </app-form-field>-->
        <!--    <app-form-field formControlName="acur" placeholder="Входящая кредитная нагрузка" type="number"> </app-form-field>-->
        <!--    <app-form-field formControlName="acur2" placeholder="Входящая кредитная нагрузка без life insurance" type="number">-->
        <!--    </app-form-field>-->
        <!--    <app-text-field-->
        <!--      formControlName="params"-->
        <!--      label="Прочее (платежи и компании)"-->
        <!--      [autosize]="'set-autosize-scroll'"-->
        <!--    ></app-text-field>-->
      </form>
    </div>
  </ng-template>
</app-modal-view>
